@media (max-width: 996px) {
  .searchBox {
    position: absolute;
    right: var(--ifm-navbar-padding-horizontal);
  }
}

@media (min-width: 997px) {
  .searchBox {
    padding: var(--ifm-navbar-item-padding-vertical)
      var(--ifm-navbar-item-padding-horizontal);
    display: flex;
    column-gap: 1rem;
  }
}
