@use '_values/colors';
@use '_utils';

.header-sub-title {
    color: colors.$gray-75;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include utils.typography('Primary/CAPTION-SB');
}

.header-title {
    color: colors.$gray-90;
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;

    @include utils.typography('Primary/Heading1-B');
}
