@font-face {
    font-family: Inter;
    src: url('./assets/Fonts/Inter-VariableFont_slnt,wght.ttf')
        format('truetype-variations');
    font-weight: 1 999;
}

@font-face {
    font-family: 'Space Mono';
    src: url('./assets/Fonts/SpaceMono-Regular.ttf') format('truetype');
}

body {
    @apply bg-[#f8f8f8] m-0 text-offblack;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/* TODO - The below CSS alters how smart contract code is displayed in the Ace Editor

.ace_active-line {
    background-color: rgb(203 213 225) !important;
}

.ace_gutter-layer {
    color: black !important;
}

.ace_editor {
    width: 80vw !important;
    font-family: 'Ubuntu Mono', 'Courier New', monospace;
}

@media only screen and (min-width: 1024px) {
    .ace_editor {
        width: 35rem !important;
    }
}
*/
