@use '_values/colors';

.address-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
}

.address {
    font-weight: 500;
    font-size: 14px;
    color: colors.$gray-100;
    opacity: 0.8;
    overflow-wrap: break-word;
    flex: 1;
    min-width: 0;
}

.explorer-link {
    color: colors.$gray-60;
    margin-left: 5px;
    font-size: 9px;
}
