@use '_values/colors';
@use '_utils';

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #e9eaeb;
    border-radius: 10px;
    padding: 38px;
    margin-bottom: 8px;
    width: 340px;
    height: 248px;
    cursor: pointer;

    &:last-child() {
        margin-bottom: 0;
    }

    &:hover {
        background: #f7f8f8;
    }

    .title {
        margin: 0 0 8px;
        font-size: 20px;
        color: colors.$gray-100;
        font-weight: 600;
        line-height: 24px;
    }

    .desc {
        color: colors.$gray-80;
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        margin-bottom: 16px;
        text-align: center;
    }

    .action {
        @include utils.typography('page-title');

        align-self: flex-start;
        background: colors.$cta-blue;
        color: colors.$white;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        font-weight: 600;

        &:visited,
        &:active {
            color: colors.$white;
        }

        &:hover {
            background: colors.$cta-blue-hover;
        }
    }
}

.selector {
    display: flex;
    gap: 8px;

    .icon {
        margin-left: 10px;
        color: colors.$cta-light-blue;
        font-size: 14px;
    }
}

.header-title {
    text-align: center;
    margin-bottom: 40px;
    color: colors.$gray-100;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
