.groupview {
    @apply w-full text-left;
}

.firstrow {
    @apply grid uppercase font-semibold text-sui-grey-80 text-[12px] leading-[12px] py-[10px];

    grid-template-columns: 35% 30% 35%;
}

.body {
    @apply text-[13px] leading-[12px];
}

.summary {
    @apply grid py-[10px] cursor-pointer;

    grid-template-columns: 5% 30% 30% 30% 5%;
}

.openedgroup .summary {
    @apply text-sui-grey-100;
}

.openedgroup .summary div {
    @apply pb-[12px];
}

.openedgroup .summary div:not(:first-child):not(:last-child) {
    @apply border-solid border-0 border-b border-sui-grey-45;
}

.closedgroup {
    @apply text-sui-grey-80 hover:bg-[#6fbcf014];
}

.openedgroup {
    @apply bg-sui-grey-40 rounded-md max-h-[245px] overflow-auto;
}

.objectid,
.balance {
    @apply text-sui-grey-80 grid;

    grid-template-columns: 5% 30% 60% 5%;
}

.objectid {
    @apply pb-[10px] pt-0;
}

.balance {
    @apply pb-[16px];
}

.closedgroup .summary:hover {
    @apply rounded-md bg-[#6fbcf014];
}

.icon {
    @apply pr-[6px] pl-[12px];
}
