.mnemonic {
    resize: none;
    width: 300px;
    padding: 5px;
    margin-bottom: 3px;
}

.error {
    margin-bottom: 12px;
    font-size: 13px;
    color: #b10000;
    font-weight: 400;
    min-height: 1em;
    line-height: 1;
}
