<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sui Replay Tool</title>
  <!-- 
      When developing: uncomment this.
      When building: comment this
      <link rel="stylesheet" href="styles.css" />
  -->

  <style>
    .INSERT_STYLES_HERE{color:sui}
  </style>
</head>
<body>
  <script type="module">
    import { createApp } from 'https://unpkg.com/petite-vue@0.2.2/dist/petite-vue.es.js';

    const output = REPLACE_ME;


    // Paste a JSON here in development.
    // const output = {};
    
    // NOTE: Add any JSON.parse() or similar as needed before using `jsonObject` in the scripts.
    const jsonObject = output;

    const clientEnvNetwork = "CLIENT_ENV_NETWORK";


    function ExplorerLink(props) {
      function getUrl({ id, isAddress, module, digest}){
        if (digest) {
          return `https://suiexplorer.com/txblock/${digest}?network=${this.network}`;
        }
        if (module) {
          return `https://suiexplorer.com/${isAddress ? 'address' : 'object'}/${id}?module=${module}&network=${this.network}`;
        }

        return `https://suiexplorer.com/${isAddress ? 'address' : 'object'}/${id}?network=${this.network}`;
      }
      return {
        $template: '#explorer-link-template',
        data: props.data,
        text: props.text,
        getUrl
      }
    }

    function MoveCallArgument(props){
      return {
        $template: "#move-call-arg",
        input: props.input
      }
    }

    function ObjectList(props){
      return {
        $template: "#object-list",
        input: props.input
      }
    }

    function InputArg(props){
      return {
        $template: "#input-arg",
        input: props.input
      }
    }

    createApp({
        network: clientEnvNetwork,
        activeTab: 0,
        tabs: [
          { id: 0, name: 'Overview' },
          { id: 1, name: 'Effects'},
          { id: 2, name: 'PTB Commands' },
          { id: 3, name: 'Raw JSON'}
        ],
        json: jsonObject,
        commands: jsonObject.transaction_info.ProgrammableTransaction.commands,
        inputs: jsonObject.transaction_info.ProgrammableTransaction.inputs,
        effects: jsonObject.effects,
        gas_status: jsonObject.gas_status.V2,
        deleted: jsonObject.effects.deleted,
      ExplorerLink,
      MoveCallArgument,
      ObjectList,
      InputArg,

      formatListedObject(object) {
          if ('ObjectOwner' in object.owner) {
            return {
              objectId: object.reference.objectId,
              owner: object.owner.ObjectOwner,
              version: object.reference.version,
            }
          }
          else if ('AddressOwner' in object.owner) {
            return {
              objectId: object.reference.objectId,
              owner: object.owner.AddressOwner,
              version: object.reference.version,
            }
          }
          else if ('Shared' in object.owner) {
            return {
              objectId: object.reference.objectId,
              version: object.reference.version,
              type: "shared"
            }
          }
          else {
            return {
              objectId: object.objectId,
              version: object.version
            }
          }

      },

      formatObject(object){
        if (!object || typeof object !== 'object') return null;
        if (!'Object' in object) return object;

        const data = object.Object;

        if('SharedObject' in data) {
          return {
            objectId: data.SharedObject.id,
            mutable: data.SharedObject.mutable,
            initialSharedVersion: data.SharedObject.initial_shared_version
          }
        }

        if('ImmOrOwnedObject' in data) {
          return {
            objectId: data.ImmOrOwnedObject[0],
            version: data.ImmOrOwnedObject[1]
          }
        }
        
        return data;
      },

      expandAll(){
        document.getElementById('json-viewer').expandAll();
      },
      collapseAll(){
        document.getElementById('json-viewer').collapseAll();
      },

      getInput(index){
        return inputs()[index] || null;
      }
    }).mount();

</script>
<!-- v-scope value can be omitted -->
<div v-scope class="container mx-auto py-3">

  <div class="mb-6">
    <h1 class="text-2xl font-bold">Transaction Replay</h1>
    <div>
      <p><span v-scope="ExplorerLink({ data: { digest: effects.transactionDigest }, text: effects.transactionDigest })"></span></p>
    </div>
  </div>
  <div class="flex items-center bg-sky-50 mb-3 rounded-lg border overflow-x-auto">
    <div v-for="(tab, index) in tabs" 
          :key="index" 
          class="cursor-pointer flex px-2 py-3 "
          :class="activeTab === tab.id ? 'bg-orange-50' : 'bg-sky-50'"
        @click="activeTab = tab.id" >
      <h2>{{ tab.name }}</h2>
    </div>
  </div>

  <div v-if="activeTab === 0">
    <div class="px-2 py-2 m-1 ">
      <p>Execution Status: {{effects.status.status === 'success' ? '.𖥔 ݁ ˖Success ݁ ˖ 𖥔' : 'Failure ❗'}}</p>
      <p> Executed Epoch: {{ effects.executedEpoch }}</p>
    </div>

    <div class="px-2 py-2 m-1 border rounded-lg">
      <p>Gas Cost</p>
      <div class="py-1 px-4 text-xs">
        <p>Total Gas Cost: {{ ( +effects.gasUsed.computationCost + +effects.gasUsed.storageCost - +effects.gasUsed.storageRebate) / 1_000_000_000  }} SUI</p>
        <p>Computation Cost: {{ +effects.gasUsed.computationCost / 1_000_000_000  }} SUI</p>
        <p>Storage Cost: {{ +effects.gasUsed.storageCost / 1_000_000_000  }} SUI</p>
        <p>Storage Rebate: {{ +effects.gasUsed.storageRebate / 1_000_000_000  }} SUI</p>
        <p>Non-refundable Storage Fee: {{ +effects.gasUsed.nonRefundableStorageFee / 1_000_000_000  }} SUI</p>
      </div>
    </div>
    <div class="px-2 py-2 m-1 border rounded-lg">
      <p>Gas Info</p>
      <div class="py-1 px-4 text-xs">
        <p>Gas Price: {{ gas_status.gas_price }} MIST </p>
        <p>Reference Gas Price: {{ gas_status.reference_gas_price }} MIST </p>
        <p>Max Gas Stack Height: {{ gas_status.gas_status.stack_height_high_water_mark }}  </p>
        <p>Max Gas Stack Size: {{ gas_status.gas_status.stack_size_high_water_mark }}  </p>
        <p>Number of Bytecode Instructions Executed: {{ gas_status.gas_status.instructions_executed }}  </p>
      </div>
    </div>
    <div class=" px-2 py-2 m-1 border rounded-lg max-h-[450px] overflow-y-auto">
      <p>Input Objects</p>
      <div class=" px-2">
      <div v-for="(arg, argIdx) in inputs" :key="index + '-' + argIdx" v-scope="InputArg({input: arg })"></div>
    </div>

    </div>
    <p class="py-3 px-6 text-xs font-bold">1 MIST = 10^-9 SUI</p>
  </div>

  <!-- Renders the PTBs -->
  <div v-if="activeTab === 2">
    <div v-for="(input, index) in commands" :key="index" class="rounded-lg border mb-3 overflow-hidden ">
      <div class="rounded-lg bg-purple-50 px-3 py-2">
        <p class="font-bold pb-2">
          {{ index }}. {{Object.keys(input)[0]}}
        </p>
        <span v-if="input.MoveCall">
          Package: <span v-scope="ExplorerLink({ data: { id: input.MoveCall.package }, text: input.MoveCall.package})"></span>
          
          <br>
          Module: <span v-scope="ExplorerLink({ data: { id: input.MoveCall.package, module: input.MoveCall.module }, text: input.MoveCall.module})"></span>
          <br>
          Function: {{ input.MoveCall.function }}<br>
        </span>
      </div>
      <!-- Move Call -->
      <div v-if="!!input.MoveCall" class="px-3">
        <div class="max-h-[250px] overflow-y-auto">
          <div v-for="(arg, argIdx) in input.MoveCall.arguments" :key="index + '-' + argIdx" v-scope="MoveCallArgument({input: arg })"></div>
        </div>
      </div>
      <div v-else-if="!!input.SplitCoins" class="px-3">
        <div v-scope="MoveCallArgument({input: input.SplitCoins[0] })"></div>

        <div class="max-h-[250px] overflow-y-auto">
          <div v-for="(arg, argIdx) in input.SplitCoins[1]" :key="index + '-' + argIdx" v-scope="MoveCallArgument({input: arg })"></div>
        </div>
      </div>
      <div v-else-if="input.MakeMoveVec" class="px-3">
        <div class="max-h-[250px] overflow-y-auto">
          <div v-for="(arg, argIdx) in input.MakeMoveVec[1]" :key="index + '-' + argIdx" v-scope="MoveCallArgument({input: arg })"></div>
        </div>
      </div>
      <div v-else class="p-3">
        {{ input }}
      </div>
    </div>
  </div>

  <!-- Renders the Effects -->
  <div v-if="activeTab === 1">
    <div v-if="effects.created" class="px-3 py-2 border rounded-lg">
      <div class="">
        <p class="font-bold">Created Objects</p>
        <div v-scope="ObjectList({input: effects.created})"></div>
      </div>
    </div>

    <div v-if="effects.mutated" class="px-3 py-2 border rounded-lg">
      <div class="">
        <p class="font-bold">Mutated Objects</p>
        <div v-scope="ObjectList({input: effects.mutated})"></div>
      </div>
    </div>

    <div v-if="deleted" class="px-3 py-2 border rounded-lg">
      <div class="">
        <p class="font-bold">Deleted Objects</p>
<!--        <div v-scope="ObjectList({input: effects.deleted})"></div>-->
        <div class="max-h-[350px] overflow-y-auto">
          <div v-for="(object) in deleted" class="bg-green-50 border rounded-lg mb-2 p-2.5 text-xs">
            <div v-for="(value, key) in object">
              <div v-if="key === 'objectId'" v-scope="ExplorerLink({ key, data: { id: value, isAddress: key === 'owner' }, text: value})"></div>
              <div v-else-if="key !== 'digest'">
                {{key}}: {{value}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="effects.wrapped" class="px-3 py-2 border rounded-lg">
      <div class="">
        <p class="font-bold">Wrapped Objects</p>
        <div v-scope="ObjectList({input: effects.wrapped})"></div>
      </div>
    </div>

    <div v-if="effects.unwrapped" class="px-3 py-1 border rounded-lg">
      <div class="">
        <p class="font-bold">Unwrapped Objects</p>
        <div v-scope="ObjectList({input: effects.unwrapped})"></div>
      </div>
    </div>

    <div v-if="effects.dependencies" class="py-3 px-3">
      <p class="font-bold">Transaction Dependencies</p>
      <div v-for="(arg, argIdx) in effects.dependencies">
        <p><span v-scope="ExplorerLink({ data: { digest: arg }, text: arg })"></span></p>
      </div>
    </div>

  </div>

  <!-- Renders the Raw Json -->
  <div v-if="activeTab === 3">
    <div class="flex">
      <button class="toggle-outline-btn" @click="expandAll">Expand all</button>
      <button class="toggle-outline-btn" @click="collapseAll">Collapse all</button>
    </div>
    <json-viewer class="px-6 py-3" id="json-viewer">
        {{ JSON.stringify(json) }}
    </json-viewer>
  </div>
</div>
</body>

<!-- Re-usable components of the system -->
<!-- A template for `MoveCall` args or generally rendering `Inputs` -->
<template id="move-call-arg">
  <div class="my-2 flex-shrink-0 break-words max-h-[350px] overflow-auto mb-2 p-2.5 py-1 border rounded-lg text-xs">
    <div v-if="typeof input === 'string'">
      {{ input }}
    </div>
    <div v-else-if="inputs[input.Input]">
      <p class=" mb-2">
        Input {{input.Input}}
      </p>
      <div v-if="inputs[input.Input].Pure">
        <p class="overflow-hidden text-ellipsis max-h-[100px]">
          Pure: {{inputs[input.Input].Pure}}
        </p>
      </div>
      <div v-else-if="formatObject(inputs[input.Input])">
        <div v-for="[key, value] in Object.entries(formatObject(inputs[input.Input]))" >

            <div v-if="key === 'objectId'" v-scope="ExplorerLink({ key, data: { id: value }, text: value})"></div>
            <span v-if="key !== 'objectId'">
              <span class="capitalize">{{ key }}: </span>
              {{ value }}
            </span>

        </div>
      </div>
    </div>
    <div v-else>
      {{ formatObject(inputs[input.Input]) || inputs[input.Input] || input }}
    </div>
  </div>
</template>


<template id="input-arg">
  <div class="my-2 flex-shrink-0 break-words max-h-[350px] overflow-auto mb-2 p-2.5 py-1 border rounded-lg text-xs bg-sky-50">
    <div v-if="typeof input === 'string'">
      {{ input }}
    </div>
    <div v-else>
      <div v-if="input.Pure">
        <p class="overflow-hidden text-ellipsis max-h-[100px]">
          Pure: {{input.Pure}}
        </p>
      </div>
      <div v-else-if="formatObject(input)">
        <div v-for="[key, value] in Object.entries(formatObject(input))" >

            <div v-if="key === 'objectId'" v-scope="ExplorerLink({ key, data: { id: value }, text: value})"></div>
            <span v-if="key !== 'objectId'">
              <span class="capitalize">{{ key }}: </span>
              {{ value }}
            </span>

        </div>
      </div>
    </div>
    <div v-else>
      {{ formatObject(inputs[input.Input]) || inputs[input.Input] || input }}
    </div>
  </div>
</template>

<template id="object-list">
  <div class="max-h-[350px] overflow-y-auto">
    <div v-for="(object) in input" class="bg-green-50 border rounded-lg mb-2 p-2.5 text-xs">
      <div v-for="(value, key) in formatListedObject(object)">
          <span v-if="key === 'owner'">
          <p>Owner: <span v-scope="ExplorerLink({ key, data: { id: value, isAddress: key === 'owner' }, text: value})"></span></p>
          </span>

          <div v-if="key === 'objectId'" v-scope="ExplorerLink({ key, data: { id: value, isAddress: key === 'owner' }, text: value})"></div>

          <span v-else-if="key !== 'owner'">
            <span class="capitalize">{{ key }}: </span>
            {{ value }}
          </span>

      </div>
    </div>
  </div>
</template>

<!--Explorer Link Template-->
<template id="explorer-link-template">
  <a :href="getUrl(data)" class="underline " target="_blank">
    {{ text }}
  </a>
</template>

<script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js" defer></script>
</html>
