@tailwind base; @tailwind components; @tailwind utilities;

json-viewer {
    @apply mt-3 rounded-lg bg-slate-100;
    /* Background, font and indentation */
    --font-size: 1rem;
    --indent-size: 1.5em;
    --indentguide-size: 1px;
    --indentguide-style: solid;
    --indentguide-color: #333;
    --indentguide-color-active: #666;
    --indentguide: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color);
    --indentguide-active: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color-active);
    /* Types colors */
    --string-color: blue;
    --number-color: blue;
    --boolean-color: blue;
    --null-color: blue;
    --property-color: black;

    /* Collapsed node preview */
    --preview-color: rgba(0, 0, 0, 0.3);

    /* Search highlight color */
    --highlight-color: #6fb3d2;
}

.toggle-outline-btn{
    @apply cursor-pointer text-sm mr-3 px-3 py-0.5 text-black border border-black hover:bg-black hover:text-white
}
