@use '_values/colors';
@use '_utils';

.container {
	display: flex;
	flex-flow: row nowrap;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	background: none;
	outline: none;
	border: none;
	cursor: pointer;
	text-transform: capitalize;
	text-decoration: none;
	color: inherit;

	&[disabled],
	&.disabled {
		opacity: 0.5;
		cursor: initial;
	}

	&.neutral {
		background: colors.$gray-45;
		color: colors.$gray-90;
	}

	&.outline {
		background: none;
		color: colors.$sui-blue-steel-dark;
		border: 1px solid colors.$sui-steel-blue;
		border-radius: 12px;
	}

	&.outline:hover {
		border-color: colors.$sui-blue-steel-dark;
		color: colors.$sui-blue-steel-darker;
	}

	&.secondary {
		background: none;
		color: colors.$sui-steel-blue;
		border: 1px solid colors.$sui-steel-blue;
		border-radius: 12px;
	}

	&.secondary:hover {
		border-color: colors.$sui-blue-steel-dark;
		color: colors.$sui-blue-steel-dark;
	}

	&.primary {
		background: colors.$cta-blue;
		color: colors.$white;

		&[disabled],
		&.disabled {
			background: colors.$sui-steel-blue;

			i {
				color: colors.$white;
			}
		}
	}

	&.mini {
		padding: 4px 8px;
		border-radius: 20px;

		@include utils.typography('Primary/CAPTIONSMALL-SB');
	}

	&.small {
		font-weight: 500;
		font-size: 13px;
		padding: 4px 8px;
		border-radius: 14px;
	}

	&.large {
		padding: 13px 20px;
		border-radius: 12px;
		gap: 8px;

		@include utils.typography('Primary/Body-SB');
	}
}
