div.imagebox {
    @apply border-0 border-b-2 border-solid border-gray-300;
}

img.imagebox {
    @apply object-scale-down w-[100%];

    filter: blur(0);
    opacity: 1;
    transition: opacity ease-out 0.14s;
    transition: filter ease-in 0.14s;
}

/* ambient filter pattern for after image is loaded but hasn't been auto-modded yet */
@keyframes changeblur {
    from {
        filter: blur(28px);
        opacity: 0.72;
    }

    to {
        filter: blur(24px);
        opacity: 0.64;
    }
}

img.imageboxblur {
    @apply object-scale-down w-[100%];

    filter: blur(24px);
    opacity: 0.64;
    transition: filter opacity ease-in 0.14s;
    animation-duration: 1s;
    animation-name: changeblur;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

img.imageblurstill {
    @apply object-scale-down w-[100%];

    filter: blur(36px);
    opacity: 0.9;
    transition: filter opacity ease-out 0.14s;
}

.codebox {
    @apply overflow-hidden
    border-solid border-stone-300 rounded-lg mt-[1vh] w-[88vw]
    w-[88vw] h-[88vw] lg:w-[35vw] lg:h-[35vw] mb-[10vh];
}
