div.imagebox {
    @apply h-full w-full flex items-center justify-center;
}

img.smallimage {
    @apply object-scale-down w-[100%] cursor-pointer;
}

div.modalcontainer,
div.detailsbg {
    @apply fixed top-0 left-0 w-full h-full z-20;
}

.modal {
    @apply w-[100%] h-[90%] max-h-[450px]  z-50 fixed left-0 top-[5%] text-center justify-center flex flex-wrap;
}

img.largeimage {
    @apply max-w-[80vw] max-h-[80vh] z-50 self-start border-0;

    border-radius: 6px !important;
}

span.cross {
    @apply block text-offwhite bg-sui-grey-100 z-50 h-[30px] w-[30px] self-start
  flex justify-center items-center rounded-[50px] cursor-pointer ml-2 text-2xl;
}

div.filetype,
div.caption {
    @apply w-[90vw] text-offwhite z-50 text-left text-2xl font-semibold mt-5;
}

div.filetype {
    @apply text-sm text-sui-grey-60 font-medium mt-0;
}

div.detailsbg {
    @apply bg-sui-grey-100 z-20 opacity-[0.85];
}

.codebox {
    @apply overflow-hidden
    border-solid border-stone-300 rounded-lg mt-[1vh] w-[88vw]
    w-[88vw] h-[88vw] lg:w-[35vw] lg:h-[35vw] mb-[10vh];
}

.automod {
    @apply border-0 border-b-2 border-solid border-gray-300 w-1/2;

    background-color: #d8e5ea;
    position: relative;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin: auto;
    padding: 1rem !important;
    margin-top: 2rem;
    word-wrap: normal;
}
