@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: visible;
    height: 100%;
}

.shadow {
    box-shadow: 0 0 44px rgb(0 0 0 / 15%);
}

.arrow-action-icon {
    font-size: 10px;
    color: #adcadd;
    margin-left: 12px;
}

.send-nft {
    margin-top: 20px;
}

.group {
    display: flex;
    width: 100%;

    .input-group-append,
    .input {
        padding: 12px;
        border: 1px solid colors.$gray-50;
        box-shadow: 0 1px 2px #1018280d;
        border-radius: 10px;
    }

    .input {
        width: 90%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .input-group-append {
        padding: 0 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        background-color: colors.$gray-40;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.label {
    margin-bottom: 4px;
    font-weight: 600;
}

.error {
    color: #8b1111;
    line-height: 1em;
    min-height: 1em;
    margin-top: 2px;
    margin-bottom: 5px;
}

.muted {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-top: 1px;
}
