@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define some colors as CSS variables for use outside of the Tailwind class context: */
:root {
	--success-light: theme('colors.success.light');
	--success-dark: theme('colors.success.dark');
	--warning-light: theme('colors.warning.light');
	--warning-dark: theme('colors.warning.dark');
	--issue-light: theme('colors.issue.light');
	--issue-dark: theme('colors.issue.dark');
	--steel: theme('colors.steel.DEFAULT');
	--steel-dark: theme('colors.steel.dark');
}

@layer base {
	body {
		@apply antialiased;
		@apply font-sans text-offblack;
	}
}
