@use '_values' as val;
@use '_variables' as v;
@use '_values/colors';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: v.use(v.$colors-main-content-background);

    @include v.set(v.$sizing-nav-height-placeholder, val.$sizing-nav-height);

    &.nav-hidden {
        @include v.set(v.$sizing-nav-height-placeholder, 0);
    }

    &.forced-popup-size,
    :global(.is-popup) & {
        width: val.$sizing-popup-width;
        height: val.$sizing-popup-height;
    }

    &.dynamic-size {
        width: 100%;
        min-height: 100vh;
    }
}
