@use '_variables' as v;
@use '_values' as val;
@use '_values/colors';
@use '_utils';

.container {
    background: rgba(42 54 69 / 50%);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    backdrop-filter: blur(20px);
    z-index: 9999;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.full-screen-container {
    border-radius: 12px;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 48px;
    background-color: colors.$white;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    overflow: auto;
    background: colors.$white;
    border-radius: 0 0 20px 20px;
    position: relative;
}

.close-overlay {
    display: flex;
    width: 44px;
    justify-content: center;
    align-content: center;
    margin: auto;
    cursor: pointer;
    background: transparent;
    border: none;

    .close {
        color: #e1f3ff;
        font-size: 32px;
        font-weight: 100;
    }

    .sui-icons-close {
        font-size: 25px;
    }

    :hover {
        color: colors.$white;
    }
}

.header-content {
    @include utils.typography('stats/text-lg');

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    background-color: rgba(225 243 255 / 50%);
    color: colors.$sui-dark-blue;
}
