// Colors
$sui__blue: #6fbcf0;
$sui__light_blue: #e1f3ff;
$sui__black: #111111;
$sui__white: #fefefe;
$primaryAccentColor: #9b724d;
$primaryAccentColor1: $sui__blue;
$color-dark-1: #23263b;
$color-light-1: #ffffff;
$color__text: #23263b;
$color__highlight: #8c8c8c;
$color__text--dark: #ffffff;

// Typography
$font__family: 'Inter', sans-serif;
$h1_font-size: '2.5rem';
$p_font-size: 16px;
$title-font-family: 'Inter', sans-serif;
$font-family-code: 'Space Mono';

@mixin font-style(
  $font-size: 17,
  $line-height: 150%,
  $weight: 400,
  $style: normal,
  $letter-spacing: 0
) {
  font-size: $font-size * 1px;
  line-height: $line-height;
  font-weight: $weight;
  font-style: $style;
  letter-spacing: $letter-spacing;
}

@mixin title(
  $font-size: 30,
  $line-height: 150%,
  $weight: 600,
  $style: normal,
  $letter-spacing: 0
) {
  font-family: $title-font-family;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  -moz-font-feature-settings: 'liga' 1;
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  @include font-style(
    $font-size,
    $line-height,
    $weight,
    $style,
    $letter-spacing
  );
}

// Media Queries
$mobsize: 960px;
$midsize: 1200px;
$maxContentWidth: 1320px;

code,
kbd,
pre,
samp {
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.token.variable,
.token.operator,
.token.function {
  color: $sui__blue;
}
code[class*='language-'],
pre[class*='language-'] {
  // background: #F9F9F9;
  background: $sui__light_blue;
}
