@use '_values/colors';

.form {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;
    flex: 1;
}

.fill {
    flex: 1;
}

.actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.btn {
    flex: 1;
}

.prev {
    font-size: 10px;
    font-weight: 500;
}

.next {
    font-size: 10px;
    font-weight: 300;
}
