@use '_values/colors';

.mnemonic {
    resize: none;
    padding: 14px;
    background: colors.$white;
    border: 1px solid colors.$gray-50;
    box-shadow: 0 1px 2px rgba(16 24 40 / 5%);
    border-radius: 15px;
    font-size: 17px;
    font-weight: 600;
    line-height: 140%;
    color: colors.$gray-75;
    align-self: stretch;
    min-height: 150px;
    margin-bottom: 10px;

    &::placeholder {
        color: colors.$gray-65;
    }
}

.form {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;
    flex: 1;
}

.fill {
    flex: 1;
}

.actions-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.btn {
    flex: 1;
}

.btn-icon {
    font-size: 10px;
    font-weight: 300;
}
