# Use Move syntax highlighter for Move IR code
*.mvir linguist-language=Move

# These files are used in "porcelain" file comparison,
# we don't want an equality to fail because of line endings.
crates/sui-core/tests/staged/sui.yaml text eol=lf
crates/sui-open-rpc/spec/openrpc.json text eol=lf
sui_core/tests/staged/sui.yaml text eol=lf
