.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
}

.link {
    margin-left: 8px;
    line-height: 32px;
    min-width: 54px;

    &:first-child {
        margin-left: 0;
    }
}

.icon {
    padding: 12px;
    font-size: 24px;
    display: block;
    color: black;
    transition: all 200ms ease-in-out;

    .active > & {
        font-size: 30px;
        color: #4caad8;
    }
}
