@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    line-height: 18px;

    .back-button {
        background: transparent;
        padding: 0;
        margin-top: 1px;
        font-weight: 500;
        font-size: 14px;
        color: colors.$gray-80;

        i {
            color: colors.$gray-60;
        }
    }
}

.back {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: colors.$gray-80;
    font-weight: 500;
    font-size: 14px;
    max-width: 25%;
}

.back-icon {
    color: colors.$gray-70;
    margin-right: 6px;
}

.back-text {
    @include utils.overflow-ellipsis;

    white-space: nowrap;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    color: colors.$gray-100;

    &.with-back-link {
        @include utils.overflow-ellipsis(50%);

        white-space: nowrap;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        overflow: hidden;
    }

    .stats {
        font-size: 14px;
        color: colors.$gray-80;
    }
}
