.container {
    display: flex;
    flex-flow: column nowrap;
    border-radius: 2px;
    padding: 18px;
    background-color: #f0f0f0;
    align-self: stretch;
    margin-top: 16px;
    align-items: flex-start;
    position: relative;
}

.status {
    align-self: center;
    font-size: 60px;

    &.success {
        color: #8bc3df;
        font-size: 80px;
    }

    &.failure {
        color: #8b1111;
    }
}

.txt {
    font-size: 16px;
    align-self: center;
    margin-top: 8px;
}

.link {
    position: absolute;
    right: 3px;
    bottom: 3px;
    padding: 2px;
}

.error {
    align-self: stretch;
}
