[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/solidity-stringutils"]
	path = lib/solidity-stringutils
	url = https://github.com/Arachnid/solidity-stringutils
