@use '_utils';
@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;

    &.row-item {
        padding: 14px 0;

        & + & {
            border-top: 1px solid colors.$gray-45;
        }
    }

    &.standalone {
        align-items: center;
    }
}

.values-container {
    display: flex;
    flex-flow: row nowrap;

    &.standalone {
        align-items: baseline;
    }
}

.value {
    font-weight: 600;
    font-size: 14px;
    color: colors.$gray-100;

    &.row-item {
        order: 2;
        margin-left: 4px;
    }

    &.standalone {
        font-size: 20px;
    }
}

.symbol {
    font-weight: 600;
    font-size: 14px;
    color: colors.$gray-100;
    @include utils.overflow-ellipsis;

    &.row-item {
        order: 1;
        flex-grow: 1;
    }

    &.standalone {
        margin-left: 6px;
        font-size: 22px;
        font-weight: 400;
    }
}

.value,
.symbol {
    white-space: nowrap;
}

.type-actions-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 4px;
}

.type {
    font-weight: 400;
    font-size: 11px;
    color: colors.$gray-75;
    flex-grow: 1;
    @include utils.overflow-ellipsis;

    margin-right: 4px;
}

:global(.btn).action {
    font-size: 11px;
    font-weight: 300;
    padding: 4px;

    & + & {
        margin-left: 4px;
    }
}
