@use '_values/colors';

.container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 100%;
    flex: 1;
}

.copy-icon {
    margin-left: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.normal {
        color: colors.$gray-60;
        font-size: 10px;
    }

    &.highlighted {
        color: colors.$sui-steel-blue;
        font-size: 11px;
        opacity: 0.5;
    }

    &.plain {
        font-weight: 100;
    }

    &.copied {
        transform: scale(150%, 150%);
        color: colors.$sui-blue;
        opacity: 1;

        &.plain {
            color: inherit;
        }
    }
}
