@use '_values/colors';
@use '_utils';

.mnemonic {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    align-self: stretch;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.4;
    padding: 14px;
    border-radius: 15px;
    background: colors.$white;
    border: 1px solid #e9eaeb;
    box-shadow: 0 1px 2px rgba(16 24 40 / 5%);
    color: colors.$gray-75;
}

.copy {
    margin-top: 10px;
    color: colors.$sui-dark-blue;
    align-self: flex-end;
    cursor: pointer;
    line-height: 1;

    @include utils.typography('Primary/CAPTION-SB');
}

.info {
    text-align: center;
    color: colors.$gray-75;
    margin-top: 15px;
    line-height: 1;

    @include utils.typography('ParagraphPrimary/P2-R');
}

.info-caption {
    text-align: center;
    color: colors.$gray-75;
    margin-bottom: 5px;

    @include utils.typography('Primary/CAPTION-M');
}

.fill {
    flex: 1;
}

.btn {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 16px;
    align-self: stretch;
    padding: 14px 20px;
}

.arrow-up {
    font-size: 12px;
    font-weight: 300;
    transform: rotate(135deg);
}
