@use '_utils';
@use '_values/colors';

.nftimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;

    .img {
        object-fit: cover;
    }

    .no-media {
        background: linear-gradient(165.96deg, #e6f5ff 9.97%, #ebecff 94.97%);
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: colors.$sui-blue-steel-dark;
        text-transform: uppercase;
        user-select: none;

        @include utils.typography('Primary/CAPTIONSMALL-M');
    }

    .no-media-icon {
        font-size: 20px;
    }

    .no-media-text {
        margin-top: 13px;
    }

    .no-media-text-wide-view {
        text-transform: uppercase;

        @include utils.typography('ParagraphPrimary/P2-R');
    }

    .no-media,
    .img {
        width: 100%;
        border-radius: 4px;
        height: 100%;
    }

    &.small {
        width: 98px;

        .img,
        .no-media {
            height: 98px;
        }
    }

    &.medium {
        width: 150px;

        .img,
        .no-media {
            height: 150px;
        }
    }

    &.large {
        width: 180px;

        .img,
        .no-media {
            height: 180px;
        }
    }

    .nftfields {
        line-height: 150%;
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        padding-top: 10px;
        color: colors.$gray-100;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }

    .expandable {
        @include utils.typography('table/title-sm');

        margin-top: 10px;

        a {
            text-decoration: none;
            color: colors.$gray-80;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        i {
            color: colors.$gray-65;
            font-size: 14px;
            margin-left: 5px;
            font-weight: 300;
            line-height: 100%;
        }
    }

    &.wideview {
        background-color: colors.$gray-40;
        padding: 10px;
        border-radius: 10px;
        width: 100%;
        justify-content: space-between;
        flex-flow: row-reverse;
        gap: 10px;

        .img,
        .no-media {
            width: 50px;
            height: 50px;
            flex-shrink: 0;
        }

        .nftfields {
            padding-top: 0;
            height: 49px;
            display: flex;
            flex-flow: column;
            justify-content: center;
        }

        .nft-name {
            text-transform: capitalize;
            color: colors.$gray-100;
            margin-bottom: 4px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            @include utils.typography('page-title');
        }

        .nft-type {
            color: colors.$gray-75;

            @include utils.typography('table/text-lg');
        }
    }
}
