@use '_variables' as v;

.container {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    width: 100%;
    max-height: 100%;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 15px;
    justify-content: center;
    min-height: 52px;
}

.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background: v.use(v.$colors-main-content-background);
    border-radius: 20px 20px 0 0;
    flex-grow: 1;
    box-shadow: v.use(v.$shadows-main-content);
    overflow: hidden;
    position: relative;
}

.main {
    overflow: auto;
    padding: 25px;
    padding-bottom: calc(v.use(v.$sizing-nav-height-placeholder) + 12px);
    flex-grow: 1;
}

.logo {
    color: v.use(v.$colors-text-on-background);
}
