.logo {
    width: 60px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    min-width: 300px;
    max-width: 300px;
    padding: 12px;

    :global(.is-popup) & {
        min-height: 300px;
    }
}
