.logo {
    width: 60px;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 350px;
    padding: 12px;

    :global(.is-popup) & {
        min-height: 300px;
    }
}
