@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: visible;
    height: 100%;
}

.alert {
    margin-bottom: 8px;
}

.page-title {
    margin-bottom: 8px;
}

.page-description {
    margin-bottom: 15px;

    @include utils.typography('page-description');
}

.stats {
    margin-bottom: 25px;
}

.title-section-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding-bottom: 6px;
    margin-bottom: 6px;
    align-items: center;
    background-color: v.use(v.$colors-main-content-background);
    position: sticky;
    top: 0;
    z-index: 2;
}

.section-title {
    flex-grow: 1;
    margin-right: 4px;

    @include utils.overflow-ellipsis;
    @include utils.typography('stat/col-header');
}

.arrow-icon {
    font-size: 10px;
}

.staked-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.staked-info-container {
    display: flex;
    margin-top: 30px;
    grid-column-start: span 2;
    align-items: center;
    justify-content: center;
}

.empty {
    @include utils.typography('empty');
}

.action {
    flex-grow: 1;
    flex-basis: 0;
}

.close-action-icon {
    font-size: 13px;
    color: colors.$gray-65;
}

.arrow-action-icon {
    font-size: 10px;
    color: #adcadd;
}

.shadow {
    box-shadow: 0 0 44px rgb(0 0 0 / 15%);
}
