@use '_utils';
@use '_values/colors';

.txn-response {
    margin-top: 20px;

    .success-text,
    .failed-text {
        text-align: center;
        margin-bottom: 20px;

        @include utils.typography('stats/text-lg');
    }

    .failed-text {
        margin-bottom: 10px;
    }

    .success-icon,
    .failed-icon {
        position: relative;
        width: 46px;
        height: 46px;
        display: flex;
        justify-content: center;
        margin: auto;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .failed-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        color: colors.$white;
        font-size: 16px;
        border: 2px dotted #f05252;

        .icon-bg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f05252;
        }
    }

    .amount {
        font-weight: 600;
        font-size: 24px;
        line-height: 19px;
        color: colors.$gray-100;
        margin: 10px;

        span {
            color: colors.$gray-75;
            font-size: 16px;
        }
    }

    .error-message {
        color: colors.$gray-80;
        text-align: center;
        margin-bottom: 20px;

        @include utils.typography('stats/text-sm');
    }

    .success-icon {
        border: 2px dotted colors.$sui-steel-blue;

        .angled-arrow,
        .buy-icon {
            height: 15px;
            margin: auto !important;
            color: #589aea !important;
        }

        .angled-arrow {
            @include utils.angled-arrow;
        }
    }
}

.tx-date,
.tx-fees {
    display: flex;
    gap: 10px;
    margin: 10px;
    justify-content: space-between;
    @include utils.typography('table/text-lg');

    line-height: 17px;

    .tx-info-label {
        color: colors.$gray-80;
    }

    .tx-info-value {
        color: colors.$gray-85;
    }
}

.response-card {
    @include utils.receipt-details-bg;

    padding: 5px;

    .tx-info {
        border-top: 1px solid colors.$gray-50;
        border-bottom: 1px solid colors.$gray-50;
        padding: 20px 0;
        display: flex;
        flex-flow: column;
        gap: 15px;
        margin: 20px 10px;
        word-break: break-all;
        margin-bottom: 0;

        @include utils.typography('table/text-sm');

        .tx-info-label {
            color: colors.$gray-75;
            display: flex;
            gap: 10px;

            &::before {
                content: '';
                background-image: url('_assets/images/Start.svg');
                background-size: 12px 12px;
                height: 12px;
                width: 12px;
                display: flex;
                align-items: center;
                z-index: 5;
            }

            &::after {
                content: '';
                position: absolute;
                margin-left: 5px;
                margin-top: 4px;
                height: 25px;
                border: 1px dashed colors.$sui-steel-blue;
                border-right: none;
                border-bottom: none;
                z-index: 1;
            }
        }

        .tx-info-value {
            color: colors.$gray-100;
            font-size: 13px;
            line-height: 18px;
            display: flex;
            gap: 10px;
            overflow-wrap: break-word;
            font-family: 'Space Mono', ui-monospace, monospace;

            &::before {
                content: '';
                background-size: 12px 12px;
                background-repeat: no-repeat;
                height: 16px;
                width: 16px;
                margin-top: 3px;
                z-index: 5;
            }

            &.failed::before {
                background-image: url('_assets/images/Fail.svg');
            }

            &.success::before {
                background-image: url('_assets/images/Done.svg');
            }
        }

        &.reciever {
            flex-direction: column-reverse;

            .tx-info-label {
                &::after {
                    height: 40px;
                    margin-top: -40px;
                }

                &.failed::before {
                    background-image: url('_assets/images/Fail.svg');
                }

                &.success::before {
                    background-image: url('_assets/images/Done.svg');
                }
            }

            .tx-info-value {
                &::before {
                    background-image: url('_assets/images/Start.svg');
                }
            }
        }
    }

    .explorer-link {
        margin: 10px;
        color: colors.$sui-dark-blue;

        @include utils.typography('table/title-sm');

        a {
            text-decoration: none;
            color: colors.$sui-dark-blue;
            margin: 0;

            i {
                transform: rotate(135deg);
                font-weight: 300;
                position: absolute;
                margin-left: 5px;
                font-size: 10px;
                color: colors.$sui-steel-blue;
            }
        }
    }
}

.wideview {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    justify-content: space-between;
    flex-flow: row-reverse;
    flex-direction: row;
    gap: 10px;

    .img {
        height: 50px;
        width: 50px;
        object-fit: cover;
        border-radius: 6px;
    }

    .nftfields {
        padding-top: 0;
        height: 49px;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .nft-name {
        text-transform: capitalize;
        color: colors.$gray-100;
        margin-bottom: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        @include utils.typography('page-title');
    }

    .nft-type {
        color: colors.$gray-75;

        @include utils.typography('table/text-lg');
    }

    .wallet-info-value {
        @include utils.typography('page-title');

        color: colors.$gray-100;
    }
}
