$background: '--colors-background';
$background-color: '--colors-background-color';
$text-on-background: '--colors-text-on-background';
$main-content-background: '--colors-main-content-background';
$text-on-main-content-background: '--colors-text-on-main-content-background';
