@use '_utils';
@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.content {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.shadow {
    box-shadow: 0 0 44px rgb(0 0 0 / 15%);
}

.arrow-action-icon {
    font-size: 10px;
    color: #adcadd;
    font-weight: 300;
}

.send-nft {
    margin-top: 20px;
}

.group {
    width: 100%;
}

.label-info {
    text-align: center;
    padding: 0 16px;
    color: colors.$gray-80;
    margin-bottom: 10px;
}

.valid-address {
    position: absolute;
    margin-top: 66px;
    margin-left: 115px;

    i {
        color: colors.$success;
        font-size: 8px;
    }
}

.error {
    @include utils.error-message-box;
}

.muted {
    font-size: 12px;
    font-weight: 400;
    color: #666;
    margin-top: 1px;
}

.formcta {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px 25px;
    flex: 1;
    align-items: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;

    .action,
    .done {
        width: 100%;
    }

    .send-nft-btn {
        color: colors.$white;

        &:visited,
        &:active,
        &:disabled {
            color: colors.$gray-50;
        }
    }

    .done {
        @include utils.typography('table/text-lg');

        background-color: colors.$gray-45;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }
}

.nft-response {
    margin-top: 20px;

    .checkmark {
        margin-right: 10px;
        font-size: 10px;
        color: colors.$gray-65;
        font-weight: 300;
    }
}
