@use '_utils';
@use '_values/colors';

.title {
    font-size: 15px;
    font-weight: 700;
    color: #404040;
}

.tx-card {
    text-decoration: none;
}

.card {
    display: grid;
    gap: 12px;
    grid-template-columns: 30px 6fr 2fr;
    align-content: center;
    justify-content: space-between;
    border-bottom: 1px solid colors.$gray-45;
    height: auto;
    padding: 15px 0;
    cursor: pointer;

    .card-icon {
        position: relative;
        display: flex;
        justify-content: center;
        background-color: colors.$gray-45;
        align-self: center;
        border-radius: 10px;
        width: 30px;
        height: 30px;

        .angled-arrow {
            @include utils.angled-arrow;
        }

        .buy-icon,
        .angled-arrow {
            width: 20px;
            height: 20px;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            margin: auto;
            color: #589aea;
            font-size: 12px;
        }
    }

    .txstatus {
        margin-left: 5px;
    }

    .tx-transferred {
        display: flex;
        flex-flow: column;
        text-align: end;
        justify-content: center;

        .tx-amount {
            @include utils.typography('table/text-sm');

            color: colors.$gray-100;
            text-align: right;
            line-height: 120%;
        }
    }

    .card-content {
        display: flex;
        flex-direction: column;
        gap: 4px;
        justify-content: center;

        .tx-result {
            display: flex;
            align-items: center;
            gap: 6px;

            .tx-type-name {
                @include utils.typography('page-description');

                color: colors.$gray-90;
                line-height: 100%;
                font-weight: 600;
            }

            .kind {
                @include utils.typography('table/title-sm');

                color: colors.$gray-90;
                line-height: 100%;
            }
        }
    }

    .tx-address {
        @include utils.typography('page-description');

        font-family: 'Space Mono', ui-monospace, monospace;
        color: colors.$gray-90;
    }
}

.failure {
    i {
        color: #fca5a5;
    }
}

.success {
    i {
        color: colors.$success;
        font-size: 8px;
    }
}

.tx-image {
    display: flex;
    justify-content: flex-start;
    gap: 8px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        object-fit: cover;
    }

    .nft-info {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        gap: 4px;

        .nft-name {
            @include utils.typography('page-description');

            color: colors.$gray-90;
            line-height: 100%;
            font-weight: 600;
        }

        .nft-description {
            @include utils.typography('tooltip/label');

            color: colors.$gray-75;
            line-height: 100%;
            font-weight: 500;
            text-transform: none;
        }
    }
}

.tx-type-date {
    font-size: 11px;
    line-height: 100%;

    @include utils.typography('table/text-xs');
}
