@use '_values' as val;
@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.content {
    padding-top: 25px;
    background: linear-gradient(180deg, colors.$gray-40 53%, #6fbcf098 100%);
    box-shadow: 0 0 44px #00000026;
    border-radius: 15px;
    width: val.$sizing-popup-width;
    height: val.$sizing-popup-height;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.welcome {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 60px 30px 0;
}

.title {
    margin: 30px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 80%;
    color: colors.$gray-90;
}

.sui-blue {
    color: colors.$cta-blue;
}

.description {
    margin: 0 auto;
    text-align: center;
    width: 90%;

    @include utils.typography('table/text-lg');

    color: colors.$gray-75;
    line-height: 130%;
}

.features {
    list-style: none;
    text-align: left;
    padding: 0;
    padding-left: 10px;
    margin-top: 30px;

    li {
        margin: 10px 0;

        i {
            color: colors.$success;
            margin-right: 5px;
            font-size: 10px;
        }
    }
}

.get-started {
    background-color: transparent;
    display: flex;
    flex-flow: row nowrap;
    position: sticky;
    bottom: -1px;
    padding: 15px 0 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin: auto;
    margin-top: 12px;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
    transition: all 200ms ease-in-out;
    width: 300px;

    .cta {
        width: 100%;
        border-radius: 12px;
        color: colors.$white !important;
        background-color: colors.$cta-blue;
        display: flex;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 90%;
    }

    .arrow-left {
        transform: rotate(180deg);
        font-weight: 300;
        margin: 0;
        margin-left: 10px;
        font-size: 14px;
    }
}
