@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-self: stretch;

    .selector-content {
        margin-top: 25px;
        height: 100%;
    }

    .search-coin {
        .search-input {
            width: 100%;
            border: 1px solid colors.$gray-50;
            height: 36px;
            border-radius: 10px;
            padding: 14px 10px;

            &::placeholder {
                color: colors.$gray-70;
            }
        }

        &::before {
            position: absolute;
            right: 3vw;
            margin-top: 12px;
            color: colors.$gray-70;
        }
    }

    .coin-detail {
        margin-top: 20px;
        height: 63px;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid colors.$gray-45;
        cursor: pointer;
        gap: 10px;
        transition: all 0.2s ease-in-out;

        &:hover {
            &::after {
                background-color: #6fbcf01a;
                position: absolute;
                content: '';
                left: 10px;
                width: calc(100% - 20px);
                height: 63px;
            }
        }

        .coin-label {
            @include utils.typography('table/text-lg');

            width: 55%;
            display: flex;
            flex-direction: column;
            color: colors.$gray-100;
            gap: 4px;
            font-weight: 600;

            span {
                color: colors.$gray-65;
            }
        }

        .coin-amount {
            @include utils.typography('table/text-lg');

            line-height: 17px;
        }

        .coin-icon {
            color: colors.$sui-blue;
            background-color: colors.$gray-40;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            display: inline-flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 18px;
                color: colors.$sui-blue;
            }
        }
    }
}
