@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    overflow: hidden;
    align-items: baseline;

    @include utils.typography('stats/text-lg');

    &.neutral {
        color: inherit;
    }

    &.positive {
        color: colors.$success-dark;
    }

    &.negative {
        color: #be2d2d;
    }
}

.symbol {
    margin-left: 4px;

    &.diff-symbol {
        @include utils.typography('header/search-text');
    }
}
