.value {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.6px;
    max-width: 320px;
    overflow-x: auto;
    overflow-wrap: break-word;
}

.list {
    padding: 0;
    margin: 0;
    padding-left: 15px;
}
