@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.group {
    display: flex;
    width: 100%;

    .input-group-append,
    .textarea {
        padding: 5px 12px;
        border: 1px solid colors.$gray-50;
        box-shadow: 0 1px 2px #1018280d;
        border-radius: 10px;
    }

    .textarea {
        width: 90%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        textarea {
            width: 100%;
            border: 0;
            resize: none;
            padding: 5px 0;
            vertical-align: bottom;
            height: 40px;

            &::placeholder {
                color: colors.$gray-65;
            }
        }
    }

    .input-group-append {
        padding: 0 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
        background-color: colors.$gray-40;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .qr-code {
        background-image: url('_assets/images/qr-code.svg');
        padding: 0 18px;
        background-repeat: no-repeat;
        background-position: center;
    }

    &.invalid-addr {
        .input-group-append,
        .textarea {
            border-color: colors.$error;
        }
    }

    .change-addr-icon {
        cursor: pointer;

        &::before {
            font-size: 16px;
            color: colors.$gray-75;
        }
    }
}

.valid-address {
    background-color: colors.$success-light;
    color: colors.$success;
    margin-top: 10px;
    border-radius: 6px;
    word-break: break-all;
    padding: 7px 13px;

    i {
        color: colors.$success;
        font-size: 10px;
        margin-right: 10px;
    }
}

.error {
    @include utils.error-message-box;
}
