.container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.image {
    background-image: url('~_images/sui-icon.png');
    background-repeat: no-repeat;
    background-size: contain;

    &.normal {
        width: 30px;
        height: 30px;
    }

    &.big {
        width: 60px;
        height: 60px;
    }

    &.bigger {
        width: 90px;
        height: 90px;
    }

    &.huge {
        width: 120px;
        height: 120px;
    }
}

.txt {
    margin-left: 5px;
    font-weight: 700;
    color: #6fbcf0;

    &.normal {
        font-size: 15px;
    }

    &.big {
        font-size: 20px;
    }

    &.bigger {
        font-size: 25px;
    }

    &.huge {
        font-size: 30px;
    }
}
