.container {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
}

.icon,
.txt {
    font-weight: 500;

    .normal & {
        font-size: 25px;
    }

    .big & {
        font-size: 35px;
    }

    .bigger & {
        font-size: 45px;
    }

    .huge & {
        font-size: 55px;
    }
}
