@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: visible;
    height: 100%;

    .send-nft-btn {
        @include utils.typography('table/title-sm');

        background-color: colors.$sui-dark-blue;
        border-radius: 10px;
        font-weight: 600;
        line-height: 12px;
        display: flex;
        justify-content: center;
        color: colors.$white;

        &:visited {
            color: colors.$white;
        }

        &:disabled {
            opacity: 0.4;
        }

        &:hover:not(:disabled) {
            background-color: colors.$sui-blue;
            color: colors.$white;
        }
    }
}

.page-title {
    margin-bottom: 8px;
    text-transform: capitalize;
}

.page-description {
    margin-bottom: 15px;

    @include utils.typography('page-description');
}

.stats {
    margin-bottom: 25px;
}

.title-section-container {
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    padding-bottom: 6px;
    margin-bottom: 6px;
    align-items: center;
    background-color: v.use(v.$colors-main-content-background);
    position: sticky;
    top: 0;
    z-index: 2;
}

.section-title {
    flex-grow: 1;
    margin-right: 4px;

    @include utils.overflow-ellipsis;
    @include utils.typography('stat/col-header');
}

.arrow-icon {
    margin-left: 6px;
    font-size: 10px;
}

.action {
    flex-grow: 1;
    flex-basis: 0;
}

.close-action-icon {
    font-size: 13px;
    color: colors.$gray-65;
    margin-right: 12px;
}

.arrow-action-icon {
    font-size: 10px;
    color: #adcadd;
    margin-left: 12px;
}

.shadow {
    box-shadow: 0 0 44px rgb(0 0 0 / 15%);
}

.nft-detail {
    margin-top: 20px;
}

/* TODO use either css or svg so the div can */
.nft-details {
    margin-top: 20px;
    padding: 20px;
    background-image: url('_assets/images/nft-detail-bg.png');
    height: 104px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 100%;

    .nft-details-inner {
        height: 64px;
        overflow: auto;
    }

    .nft-item-detail {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        @include utils.typography('table/text-lg');

        .label {
            color: colors.$gray-80;
        }
    }

    .explorer-link {
        @include utils.typography('table/text-lg');

        text-decoration: none;
        font-family: 'Red Hat MonoVariable', ui-monospace, monospace;
        color: colors.$sui-dark-blue;
    }
}

.angled-arrow {
    @include utils.angled-arrow;
}

.external-link {
    font-weight: 600;
    font-size: 14px;
    padding: 13px 20px;
    border-radius: 10px;
    background: colors.$cta-blue;
    color: colors.$white;
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    max-width: 100%;
    align-items: center;

    i {
        margin-right: 10px;
    }
}
