.cookie-consent-theme {
	--cc-font-family: theme(fontFamily.sans);
	--cc-border-radius: theme(borderRadius.lg);
	--cc-btn-primary-bg: theme(colors.hero.dark);
	--cc-btn-primary-hover-bg: theme(colors.hero.DEFAULT);
	--cc-btn-secondary-bg: theme(colors.gray.45);
	--cc-btn-secondary-text: theme(colors.steel.darker);
	--cc-btn-secondary-hover-text: theme(colors.steel.darker);
	--cc-btn-border-radius: theme(borderRadius.xl);
	--cc-consent-modal-box-shadow: theme(boxShadow.DEFAULT);
}

#cc--main #cm {
	@apply max-w-[413px] p-4;
}

#cc--main #c-ttl {
	@apply mb-2 text-heading6 font-semibold text-steel-darker;
}

#cc--main #c-txt {
	@apply text-body font-medium text-steel-dark;
}

#cc--main #c-bns {
	@apply mt-4;
}

#cc--main #c-p-bn,
#cc--main #c-s-bn {
	@apply text-body;
}
