@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.container {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-self: stretch;

    .selector-content {
        margin-top: 25px;
        height: 100%;
    }

    .search-coin {
        .search-input {
            width: 100%;
            border: 1px solid colors.$gray-50;
            height: 36px;
            border-radius: 10px;
            padding: 14px 10px;

            &::placeholder {
                color: colors.$gray-70;
            }
        }

        &::before {
            position: absolute;
            right: 0;
            margin-right: 30px;
            margin-top: 12px;
            color: colors.$gray-70;
        }
    }
}

.default-coin {
    i {
        font-size: 24px;
    }
}
