@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-self: stretch;
    height: 100%;

    .page-title {
        margin-bottom: 8px;
        @include utils.typography('page-title');
    }

    .btn {
        background-color: colors.$cta-blue;
        color: colors.$white;
        width: 100%;
        font-weight: 600;

        .arrow-left {
            margin-left: 10px;
            transform: rotate(180deg);
            position: absolute;
            margin-right: 0;
            color: colors.$cta-light-blue;
        }

        &:hover {
            background-color: colors.$sui-steel-blue;
        }
    }

    .content {
        @include utils.override-main-sides-space;

        overflow-y: auto;
        height: 100%;
    }
}
