@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 230px;
    height: 44px;
    background-color: colors.$gray-40;
    border-radius: 50px;
    margin: auto;
    gap: 10px;
    margin-top: 20px;

    .step {
        @include utils.typography('table/text-sm');

        color: colors.$gray-75;
        display: flex;
        align-items: center;
        gap: 5px;

        .step-index {
            @include utils.typography('table/text-sm');

            line-height: 17px;
            color: colors.$gray-70;
            width: 24px;
            height: 24px;
            background-color: colors.$white;
            border-radius: 30px;
            border: 1px solid colors.$gray-50;
            box-shadow: 0 1px 2px #1018280d;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.current-step {
            color: colors.$sui-dark-blue;

            .step-index {
                background-color: colors.$sui-dark-blue;
                border-color: colors.$sui-dark-blue;
                color: colors.$white;
            }
        }

        &.completed-step {
            .step-index {
                background-color: colors.$sui-steel-blue;
            }
        }

        .completed-step-icon {
            color: colors.$white;
            font-size: 8px;
        }
    }
}
