.nft-gallery-container {
    margin-top: 20px;
    padding-bottom: 65px;
    flex-grow: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -25px;
    margin-right: -25px;
    height: 450px;
    overflow-y: auto;

    .nft-gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr) 50%;
        grid-gap: 16px 10px;

        a {
            text-decoration: none;
            text-transform: capitalize;
        }
    }
}

.page-title {
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: visible;
    height: 100%;
}
