@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 0;
}

.nft-gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr) 50%;
    grid-gap: 16px 10px;
    overflow: hidden auto;

    @include utils.override-main-padding;
}

.gallery-item {
    text-decoration: none;
    text-transform: capitalize;
}

.page-title {
    justify-content: center;
}
