@use '_values/colors';
@use '_utils';

.card {
	background: colors.$white;
	border-radius: 15px;
	border: 1px solid colors.$card-border-color;

	.header {
		background: #e1f3ff80;
		height: 31px;
		display: flex;
		justify-content: center;
		color: colors.$sui-blue-steel-darker;
		padding: 10px 0;
		font-weight: 600;
		font-size: 11px;
		line-height: 100%;
		text-transform: uppercase;
		border-radius: 15px 15px 0 0;
		letter-spacing: 0.05em;
	}

	.transparent-header {
		background: none;
		display: flex;
		border-bottom: 1px solid colors.$gray-45;
		margin: 0 15px;
		flex-direction: row;
		justify-content: space-between;
		font-size: 13px;
		padding: 12px 0;
		height: auto;
		line-height: 100%;
		text-transform: capitalize;
		letter-spacing: 0;

		.tx-type-header-status {
			font-weight: 600;
			color: colors.$sui-blue-steel-dark;
		}
	}

	.card-footer {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-top: 10px;
		color: colors.$sui-blue-steel-dark;

		@include utils.typography('Primary/BodySmall-M');
	}
}

.content-wrapper {
	padding: 15px;
	display: flex;
	flex-direction: column;

	:first-child {
		padding-top: 0;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 8px;
	border-bottom: 1px solid colors.$gray-45;
	padding: 12px 0;

	&:last-of-type {
		border-bottom: none;
	}

	&:first-of-type {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	font-weight: 500;
	font-size: 13px;
	line-height: 100%;

	.label {
		color: colors.$sui-blue-steel-dark;
		display: flex;
		justify-content: flex-start;
	}

	.value {
		color: colors.$gray-90;
		font-weight: 600;
		word-break: break-all;
		padding: 0;
		display: flex;
		justify-content: flex-end;
		text-align: right;
	}
}

.tabs {
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	display: flex;
	gap: 22px;
	border-bottom: 1px solid colors.$gray-45;

	.tab {
		cursor: pointer;
		background: none;
		border: none;
		padding: 8px 0;
		padding-top: 0;
		margin-bottom: -1px;
		color: colors.$sui-blue-steel-darker;
		font-weight: 600;
		font-size: 14px;
		line-height: 100%;
		border-bottom: 1px solid colors.$gray-45;

		&.active {
			color: colors.$cta-blue-hover;
			border-color: colors.$cta-blue-hover;
		}
	}
}

.objects {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 6px;
}

.object-name {
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	color: colors.$sui-blue-steel-dark;
	font-family: 'Red Hat Mono Variable', ui-monospace, monospace;
	word-break: break-all;
}

.object-id {
	font-weight: 500;
	font-size: 13px;
	line-height: 17px;
	font-family: 'Red Hat Mono Variable', ui-monospace, monospace;
	color: colors.$sui-dark-blue;
	text-decoration: none;
}

.tx-info {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.deserializing {
	min-height: 450px;
}

.nft-image-tiny {
	width: 12px;
	display: block;
}

.nft-image-small {
	width: 36px;
	display: block;
}

.origin {
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 100%;
	font-weight: 500;
	text-decoration: none;
	text-transform: lowercase;
	color: colors.$sui-dark-blue;
}

.permissions-content {
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: space-between;
}

.package-info {
	border: 1px solid colors.$gray-50;

	.label,
	.value {
		@include utils.typography('Primary/BodySmall-M');

		display: block;

		&::first-letter {
			text-transform: uppercase;
		}
	}

	.label {
		color: colors.$sui-blue-steel-dark;
	}

	.value {
		color: colors.$sui-blue-steel-darker;
	}

	.content-wrapper {
		padding: 12px 15px;
	}

	.content {
		gap: 12px;
	}
}

.owner-address {
	font-family: 'Red Hat Mono Variable', ui-monospace, monospace;
}

.permissions-content-label {
	display: flex;
	flex-direction: column;
	gap: 2px;
}
