$white: #fff;
$gray-40: #f7f8f8;
$gray-45: #f0f1f2;
$gray-50: #e9eaeb;
$gray-55: #d7d8da;
$gray-60: #c3c5c8;
$gray-65: #9c9fa4;
$gray-70: #898d93;
$gray-75: #767a81;
$gray-80: #636870;
$gray-85: #4e555d;
$gray-90: #3d444d;
$gray-95: #2a3645;
$gray-100: #182435;
$sui-blue: #6fbcf0;
$sui-alice-blue: #f1f8fd;
$sui-dark-blue: #1f6493;
$sui-steel-blue: #a0b6c3;
$sui-steel-darker: #566873;
$sui-blue-steel-dark: #758f9e;
$cta-blue: #007195;
$cta-blue-hover: #007195;
$hero: #0284ad;
$hero-dark: #007195;
$success-dark: #008c65;
$success: #2dd7a7;
$success-light: #d5f7ee;
$error: #eb5a29;
$error-light: #ffece6;
$cta-light-blue: #adcadd;
$shadow-color: #1018280d;
$sui-blue-steel-darker: #627885;
$sui-blue-light: #e1f3ff;
$issue: #ff794b;
$issue-light: #ffece5;
$issue-dark: #eb5a29;
$button-hover: #6fbcf01a;
$gradient-blue-start: #589aea;
$gradient-blue-end: #4c75a6;
$card-border-color: #6fbcf04d;
