@use '_values/colors';
@use '_utils';

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0 10px 12px;
    gap: 20px;
    background: colors.$white;
    border: 1px solid colors.$gray-50;
    box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
    border-radius: 10px;
    color: colors.$gray-100;

    &:focus {
        border-color: colors.$gray-65;
    }

    &::placeholder {
        color: colors.$gray-65;
    }

    @include utils.typography('Primary/Body-M');
}
