@use '_values/colors';
@use '_utils';

.terms {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: colors.$gray-75;
    gap: 5px;
    position: relative;
    cursor: pointer;

    @include utils.typography('Primary/BodySmall-M');

    > input {
        margin: 0 8px 0 0;

        &[type='checkbox'] {
            visibility: hidden;
        }
    }

    .check-box {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: colors.$white;
        border: 1px solid #e9eaeb;
        margin-right: 10px;
        border-radius: 4px;
        box-shadow: 0 1px 2px #0000000f;

        &::after {
            content: '';
            position: absolute;
            display: none;
            left: 7px;
            bottom: 5px;
            width: 3px;
            height: 10px;
            border: solid white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        .checkbox-label {
            margin-left: 20px;
        }
    }

    input:checked ~ .check-box::after {
        display: block;
    }

    input:checked ~ .check-box {
        background-color: colors.$success;
        box-shadow: none;
    }

    a {
        text-decoration: none;
        color: colors.$sui-dark-blue;
    }
}

.next {
    font-weight: 500;
    font-size: 12px;
}

.match-parent {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.fieldset {
    display: contents;
}

.space {
    flex: 1;
}
