@font-face {font-family: sui-icons;
    src: url('./sui-icons.eot');
    src: url('./sui-icons.eot#iefix') format('embedded-opentype'),
    url("./sui-icons.woff2") format("woff2"),
    url("./sui-icons.woff") format("woff"),
    url('./sui-icons.ttf') format('truetype'),
    url('./sui-icons.svg#sui-icons') format('svg');
    font-display: block;
}

[class^="sui-icons-"], [class*=" sui-icons-"] {
    font-family: sui-icons !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.sui-icons-Buy:before { content: "\ea01"; }
.sui-icons-Download:before { content: "\ea02"; }
.sui-icons-Info:before { content: "\ea03"; }
.sui-icons-Plus:before { content: "\ea04"; }
.sui-icons-Preview:before { content: "\ea05"; }
.sui-icons-ThumbsUp:before { content: "\ea06"; }
.sui-icons-Union:before { content: "\ea07"; }
.sui-icons-activity:before { content: "\ea08"; }
.sui-icons-apps:before { content: "\ea09"; }
.sui-icons-arrow-left:before { content: "\ea0a"; }
.sui-icons-arrow-right:before { content: "\ea0b"; }
.sui-icons-check-fill:before { content: "\ea0c"; }
.sui-icons-check:before { content: "\ea0d"; }
.sui-icons-checkmark:before { content: "\ea0e"; }
.sui-icons-chevron-down:before { content: "\ea0f"; }
.sui-icons-clipboard:before { content: "\ea10"; }
.sui-icons-close:before { content: "\ea11"; }
.sui-icons-coins:before { content: "\ea12"; }
.sui-icons-copy:before { content: "\ea13"; }
.sui-icons-globe:before { content: "\ea14"; }
.sui-icons-hand-coins:before { content: "\ea15"; }
.sui-icons-history:before { content: "\ea16"; }
.sui-icons-lock:before { content: "\ea17"; }
.sui-icons-logout:before { content: "\ea18"; }
.sui-icons-nft-type-image:before { content: "\ea19"; }
.sui-icons-nfts:before { content: "\ea1a"; }
.sui-icons-percentage-polygon:before { content: "\ea1b"; }
.sui-icons-person:before { content: "\ea1c"; }
.sui-icons-search:before { content: "\ea1d"; }
.sui-icons-sui-chevron-right:before { content: "\ea1e"; }
.sui-icons-sui-logo-icon:before { content: "\ea1f"; }
.sui-icons-sui-logo-txt:before { content: "\ea20"; }
.sui-icons-swap:before { content: "\ea21"; }
.sui-icons-tokens:before { content: "\ea22"; }
.sui-icons-unlocked:before { content: "\ea23"; }
.sui-icons-up-right:before { content: "\ea24"; }
.sui-icons-version-icon:before { content: "\ea25"; }

$sui-icons-Buy: "\ea01";
$sui-icons-Download: "\ea02";
$sui-icons-Info: "\ea03";
$sui-icons-Plus: "\ea04";
$sui-icons-Preview: "\ea05";
$sui-icons-ThumbsUp: "\ea06";
$sui-icons-Union: "\ea07";
$sui-icons-activity: "\ea08";
$sui-icons-apps: "\ea09";
$sui-icons-arrow-left: "\ea0a";
$sui-icons-arrow-right: "\ea0b";
$sui-icons-check-fill: "\ea0c";
$sui-icons-check: "\ea0d";
$sui-icons-checkmark: "\ea0e";
$sui-icons-chevron-down: "\ea0f";
$sui-icons-clipboard: "\ea10";
$sui-icons-close: "\ea11";
$sui-icons-coins: "\ea12";
$sui-icons-copy: "\ea13";
$sui-icons-globe: "\ea14";
$sui-icons-hand-coins: "\ea15";
$sui-icons-history: "\ea16";
$sui-icons-lock: "\ea17";
$sui-icons-logout: "\ea18";
$sui-icons-nft-type-image: "\ea19";
$sui-icons-nfts: "\ea1a";
$sui-icons-percentage-polygon: "\ea1b";
$sui-icons-person: "\ea1c";
$sui-icons-search: "\ea1d";
$sui-icons-sui-chevron-right: "\ea1e";
$sui-icons-sui-logo-icon: "\ea1f";
$sui-icons-sui-logo-txt: "\ea20";
$sui-icons-swap: "\ea21";
$sui-icons-tokens: "\ea22";
$sui-icons-unlocked: "\ea23";
$sui-icons-up-right: "\ea24";
$sui-icons-version-icon: "\ea25";

