@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	height: 100%;
	width: 100%;
	position: relative;
}

/* Define some colors as CSS variables for use outside of the Tailwind class context: */
:root {
	--success-light: theme('colors.success.light');
	--success-dark: theme('colors.success.dark');
	--warning-light: theme('colors.warning.light');
	--warning-dark: theme('colors.warning.dark');
	--issue-light: theme('colors.issue.light');
	--issue-dark: theme('colors.issue.dark');
	--steel: theme('colors.steel.DEFAULT');
	--steel-dark: theme('colors.steel.dark');
}

@layer base {
	body {
		@apply antialiased;
		@apply font-sans text-offblack;
	}
}

@layer components {
	.home-page-grid-container {
		@apply grid grid-cols-1 gap-4;
		grid-template-areas:
			'tps'
			'epoch'
			'gas-price'
			'node-map'
			'network'
			'checkpoint'
			'activity'
			'validators'
			'packages';
	}

	.home-page-grid-container-with-sui-token {
		grid-template-areas:
			'tps'
			'epoch'
			'gas-price'
			'node-map'
			'sui-token'
			'network'
			'checkpoint'
			'activity'
			'validators'
			'packages';
	}

	@screen sm {
		.home-page-grid-container {
			@apply grid-cols-[200px,auto];
			grid-template-areas:
				'tps         gas-price'
				'epoch       gas-price'
				'node-map    node-map'
				'network     network'
				'activity    activity'
				'validators  validators'
				'packages    packages';
		}

		.home-page-grid-container-with-sui-token {
			grid-template-areas:
				'tps         gas-price'
				'epoch       gas-price'
				'node-map    node-map'
				'sui-token   sui-token'
				'network     network'
				'activity    activity'
				'validators  validators'
				'packages    packages';
		}
	}

	@screen md {
		.home-page-grid-container {
			@apply grid-cols-[300px,auto];
			grid-template-areas:
				'tps         gas-price'
				'epoch       gas-price'
				'node-map    node-map'
				'network     network'
				'activity    activity'
				'validators  validators'
				'packages    packages';
		}

		.home-page-grid-container-with-sui-token {
			grid-template-areas:
				'tps         gas-price'
				'epoch       gas-price'
				'node-map    node-map'
				'sui-token   network'
				'activity    activity'
				'validators  validators'
				'packages    packages';
		}
	}

	@screen lg {
		.home-page-grid-container {
			@apply grid-cols-[200px,454px,auto];
			grid-template-areas:
				'tps        gas-price node-map'
				'epoch      gas-price node-map'
				'epoch      gas-price network'
				'activity   activity  validators'
				'activity   activity  packages';
		}

		.home-page-grid-container-with-sui-token {
			grid-template-areas:
				'tps        gas-price node-map'
				'epoch      gas-price node-map'
				'epoch      sui-token network'
				'activity   activity  validators'
				'activity   activity  packages';
		}
	}

	@screen xl {
		.home-page-grid-container {
			@apply grid-cols-[200px,454px,auto];
			grid-template-areas:
				'tps        gas-price node-map'
				'epoch      gas-price node-map'
				'epoch      gas-price network'
				'activity   activity  validators'
				'activity   activity  packages';
		}

		.home-page-grid-container-with-sui-token {
			grid-template-areas:
				'tps        gas-price node-map'
				'epoch      gas-price node-map'
				'epoch      sui-token network'
				'activity   activity  validators'
				'activity   activity  packages';
		}
	}
}
