$white: #fff;
$gray-40: #f7f8f8;
$gray-45: #f0f1f2;
$gray-50: #e9eaeb;
$gray-60: #c3c5c8;
$gray-65: #9c9fa4;
$gray-70: #898d93;
$gray-75: #767a81;
$gray-80: #636870;
$gray-85: #4e555d;
$gray-95: #2a3645;
$gray-100: #182435;
$sui-blue: #6fbcf0;
$sui-dark-blue: #1f6493;
$sui-steel-blue: #a0b6c3;
$cta-blue: #0284ad;
$green-dark-text: #008c65;
$success: #2dd7a7;
