.container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 12px;
    align-self: stretch;
    align-items: center;
}

.item {
    display: flex;
    flex-flow: column nowrap;
    padding: 12px;

    & + & {
        margin-top: 8px;
    }
}

.mint-icon {
    margin-left: 6px;
    font-size: 22px;

    &.success {
        color: #0e600e;
    }

    &.fail {
        color: #8b1111;
    }
}

.mint-btn {
    align-self: center;
}

.mint-error {
    align-self: stretch;
    margin-top: 6px;
}
