@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    background: colors.$white;
    border: 1px solid colors.$gray-50;
    box-shadow: 0 1px 2px rgb(16 24 40 / 5%);
    border-radius: 6px;
    color: colors.$gray-65;
    flex: 1;
    padding-right: calc(20% + 12px);

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        appearance: none;
    }

    &:focus {
        border-color: colors.$gray-65;
    }

    &::placeholder {
        color: colors.$gray-65;
    }

    @include utils.typography('Primary/Body-SB');
}

.action-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    margin-right: 12px;
    width: 20%;
    overflow: hidden;
}
