{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "printWidth": 128,
  "tabWidth": 4,
  "useTabs": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "arrowParents": "always",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto"
}
