div.imagebox {
    @apply flex h-full w-full items-center justify-center;
}

.display-container {
    @apply h-full w-full;
}

img.smallimage {
    @apply cursor-pointer rounded-[6px] object-fill;
}

div.modalcontainer,
div.detailsbg {
    @apply fixed left-0 top-0 z-20 h-full w-full;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.fade {
    opacity: 0;
    animation: fadein 0.3s linear forwards;
}

.modal {
    @apply fixed left-0 top-0 z-50 flex h-full w-full justify-center text-center;
}

.fig {
    @apply mb-[60px] mt-auto sm:relative sm:left-[19px] sm:my-auto;
}

div.imageandcross {
    @apply flex;
}

img.largeimage {
    @apply z-50 max-h-[80vh] max-w-[80vw] self-start;

    border-radius: 6px !important;
}

span.cross {
    @apply z-20 mx-auto flex h-[30px] w-[30px]
  cursor-pointer items-center justify-center rounded-[50px] bg-gray-100  text-2xl text-offwhite;
}

span.desktopcross {
    @apply hidden sm:ml-[8px] sm:mr-0 sm:block;
}

div.mobilecross {
    @apply mx-auto mt-[10vh] block sm:hidden;
}

div.filetype,
div.caption {
    @apply relative z-50 mt-5 max-w-[90vw] break-words text-center text-2xl font-semibold text-offwhite sm:text-left;
}

div.filetype {
    @apply mt-0 text-sm font-medium text-gray-60;
}

div.detailsbg {
    @apply z-20 bg-gray-100 opacity-[0.85];
}

.automod {
    @apply w-1/2 border-b-2 border-gray-45;

    background-color: #d8e5ea;
    position: relative;
    text-align: center;
    align-content: center;
    vertical-align: middle;
    margin: auto;
    padding: 1rem !important;
    margin-top: 2rem;
    word-wrap: normal;
}

.brokenimage {
    @apply rounded-[6px] bg-gray-45 stroke-gray-65;
}
