@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    max-width: 100%;
    align-items: center;
    height: 100%;
}

.balance-container {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 28px;
}

.actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 12px;
    width: 320px;
    justify-content: space-between;
}

.title {
    align-self: flex-start;
    margin-bottom: 2px;

    @include utils.typography('stat/col-header');
}

.alert {
    margin-bottom: 16px;
}

.other-coins {
    display: flex;
    flex-flow: column nowrap;
    max-height: 100%;
    overflow-y: auto;
    flex-grow: 1;
    align-self: stretch;
    @include utils.override-main-padding;
}

.others-loader {
    font-size: 28px;
}

.empty {
    @include utils.typography('empty');
}

.others-loader,
.empty {
    margin-top: 47px;
    align-self: center;
}

.staking {
    a {
        display: flex;
        flex-flow: row;
        width: 320px;
        height: 48px;
        justify-content: center;
        border-radius: 15px;
    }

    margin-bottom: 25px;
}

.empty-wallet {
    min-height: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
    max-width: 280px;
    text-align: center;

    .empty-wallet-icon {
        background: url('_assets/images/No-Coins.svg') no-repeat center;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .empty-wallet-title {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: colors.$gray-85;
    }

    .empty-wallet-description {
        font-weight: 400;
        font-size: 13px;
        line-height: 130%;
        color: colors.$gray-80;
    }
}
