@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    flex-grow: 1;
    align-items: center;
    overflow-y: scroll;
    margin-top: 20px;

    @include utils.override-main-padding;
}

.balance-container {
    margin-top: 8px;
    margin-bottom: 20px;
    font-size: 28px;
}

.actions {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    margin-bottom: 12px;
    width: 320px;
    justify-content: space-between;
}

.title {
    align-self: flex-start;
    margin-bottom: 2px;

    @include utils.typography('stat/col-header');
}

.alert {
    margin-bottom: 16px;
}

.other-coins,
.tx-content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    align-self: stretch;

    @include utils.override-main-padding;
}

.others-loader {
    font-size: 28px;
    margin-top: 47px;
    align-self: center;
}

.staking {
    a {
        display: flex;
        flex-flow: row;
        width: 320px;
        height: 48px;
        justify-content: center;
        border-radius: 15px;
    }

    margin-bottom: 20px;
}

.empty-wallet {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    gap: 8px;
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.empty-wallet-icon {
    background: url('_assets/images/No-Coins.svg') no-repeat center;
    height: 50px;
    display: flex;
    justify-content: center;
}

.empty-wallet-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: colors.$gray-85;
}

.empty-wallet-description {
    color: colors.$gray-80;

    @include utils.typography('ParagraphPrimary/P2-R');
}

.gas-request-info {
    margin-top: 5px;
    align-self: stretch;
    position: sticky;
    bottom: 0;
}

.details-page {
    overflow-y: hidden;
}

.token-activities {
    margin-bottom: 7px;
}
