@use '_values/colors';
@use '_utils';

.container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.scroll-body {
    flex: 1;
    padding: 24px;
    padding-bottom: 0;
    display: flex;
    flex-flow: column;
    gap: 15px;

    &.scrollable {
        overflow-y: auto;
    }
}

.children {
    flex: 1;
    display: flex;
    flex-flow: column;
    gap: 15px;

    &.scrollable {
        overflow-y: hidden;
        min-height: 150px;
    }
}

.origin-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-self: stretch;
    padding: 15px;
    border: 1px solid colors.$gray-50;
    border-radius: 15px;
    gap: 20px;
}

.origin-meta {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.fav-icon {
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.card-footer {
    width: 100%;
    border-top: 1px solid colors.$gray-45;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    color: colors.$sui-blue-steel-darker;

    @include utils.typography('Primary/BodySmall-M');

    .address {
        font-family: 'Red Hat MonoVariable', ui-monospace, monospace;
    }

    .label {
        color: colors.$sui-blue-steel-darker;
    }
}

.host {
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    flex-flow: column;
    align-content: center;
    gap: 7px;
    flex-grow: 1;
}

.origin {
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    text-decoration: none;
    text-transform: lowercase;
    color: colors.$sui-dark-blue;

    &.warning {
        color: colors.$issue-dark;

        &:visited {
            color: colors.$issue-dark;
        }
    }

    &:visited {
        color: colors.$sui-dark-blue;
    }
}

.external-link {
    margin-left: 10px;
}

.actions-container {
    position: sticky;
    bottom: 0;
}

.actions {
    padding: 20px;
    background: colors.$white;
    border-radius: 20px 20px 0 0;
    display: flex;
    align-items: center;
    gap: 10px;

    &.flip-actions {
        flex-direction: row-reverse;
    }
}

.button {
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    gap: 10px;
    border-radius: 12px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    width: 100%;

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        height: 16px;
    }

    &.approve {
        background: colors.$cta-blue;
        color: colors.$white;

        & i {
            color: #e1f3ff;
            font-weight: 300;
        }
    }

    &.cancel {
        background: colors.$gray-45;
        color: colors.$gray-85;

        & i {
            color: colors.$gray-65;
        }
    }

    &.loading {
        background-color: colors.$sui-steel-blue;
        color: colors.$white;
    }

    &.reject {
        background: colors.$error-light;
        color: colors.$error;

        & i {
            color: colors.$error;
            font-weight: 300;
        }
    }
}
