@use '_utils';
@use '_values/colors';
@use '_variables' as v;

.label {
	border-top: 1px solid colors.$gray-45;
	padding-top: 20px;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: colors.$gray-75;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
}

.warning-wrapper {
	margin-bottom: 8px;
	display: flex;
	justify-content: space-around;
	color: colors.$sui-steel-darker;
}

.warning-title {
	@include utils.typography('Primary/Body-SB');

	display: inline-block;
	margin-bottom: -1px;
	padding-bottom: 8px;
}

.warning-message {
	@include utils.typography('Primary/BodySmall-M');

	color: colors.$gray-80;
	background-color: colors.$white;
	padding: 20px;
	border-radius: 16px;
	box-shadow: v.use(v.$shadows-message-content);
}
