@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 20px;
    max-width: 100%;
}

.arrow-back {
    display: flex;
    color: colors.$gray-65;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

.title {
    margin-left: 3px;
    color: colors.$gray-100;
    font-weight: 600;
    font-size: 18px;
}

.is-settings .title {
    @include utils.typography('page-title');

    margin: auto;
    color: colors.$gray-90;
    line-height: 100%;
}
