@use '_utils';
@use '_values/colors';

.active-section-title {
	@include utils.typography('table/text-xs');

	text-transform: uppercase;
}

.container {
	display: flex;
	flex-flow: column nowrap;
	overflow-x: visible;
	height: 100%;
}
