[Unit]
Description=Sui Node

[Service]
User=sui
WorkingDirectory=/opt/sui/
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,sui_core=debug,narwhal=debug,narwhal-primary::helper=info
ExecStart=/opt/sui/bin/sui-node --config-path /opt/sui/config/sui-node.yaml
Restart=always

[Install]
WantedBy=multi-user.target
