@use '_values/colors';
@use '_utils';

.content {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 20px;
}

.item-group {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 0;
    gap: 15px;

    & + & {
        border-top: 1px solid colors.$gray-45;
    }
}

.item-title {
    color: colors.$gray-75;
    text-transform: uppercase;

    @include utils.typography('Primary/CAPTION-SB');

    text-align: unset;
}

.item-desc {
    color: colors.$gray-90;
    margin-top: -10px;

    @include utils.typography('ParagraphPrimary/P1-M');

    text-align: unset;
}

.logout {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background: colors.$gray-45;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #ca2d2d;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

    &:disabled {
        opacity: 0.7;
    }
}

.logout-icon {
    color: #ca2d2d99;
    margin-right: 12px;
    font-size: 12px;
}
