.spinner {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    border: 2px solid #2386b8;
    border-right-color: transparent !important;
    border-radius: 50%;
    animation: 0.75s linear infinite spinner-animation;
}

@keyframes spinner-animation {
    to {
        transform: rotate(360deg);
    }
}
