.nft-gallery-container {
    margin-top: 20px;
    padding-bottom: 50px;
    flex-grow: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -25px;
    margin-right: -25px;
    height: 450px;
    overflow-y: scroll;

    .nft-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        grid-template-rows: 96px;

        img {
            height: 96px;
        }
    }
}

.title {
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #182435;

    span {
        color: #767a81;
        font-size: 12px;
    }
}

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: visible;
    height: 100%;
}
