.nft-gallery-container {
    max-height: 480px;
    overflow-y: scroll;

    .nft-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        grid-template-rows: 96px;
    }
}

.title {
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    color: #182435;

    span {
        color: #767a81;
        font-size: 12px;
    }
}
