@use '_values/colors';

.card {
    background: colors.$white;
    border-radius: 15px;
    border: 1px solid colors.$gray-50;

    .header {
        background: colors.$gray-40;
        height: 31px;
        display: flex;
        justify-content: center;
        color: colors.$gray-75;
        padding: 10px 0;
        font-weight: 600;
        font-size: 11px;
        line-height: 100%;
        text-transform: uppercase;
        border-radius: 15px 15px 0 0;
        border-bottom: 1px solid colors.$gray-50;
    }
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;

    .label {
        color: colors.$gray-80;
        width: 42%;
        display: flex;
        justify-content: flex-start;
    }

    .value {
        color: colors.$gray-90;
        font-weight: 600;
        word-break: break-all;
        width: 58%;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        text-align: right;
    }
}

.card::after {
    content: '';
    background-image: url('_assets/images/CardEdge.svg');
    background-size: 20px 5px;
    width: 100%;
    height: 5px;
    position: relative;
    display: block;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.tabs {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    gap: 30px;
    border-bottom: 1px solid colors.$gray-45;

    .tab {
        cursor: pointer;
        background: none;
        border: none;
        padding: 8px 0;
        margin-bottom: -1px;
        color: colors.$gray-75;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        border-bottom: 1px solid colors.$gray-45;

        &.active {
            color: colors.$cta-blue-hover;
            border-color: colors.$cta-blue-hover;
        }
    }
}

.objects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 15px;
}

.object-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: colors.$gray-85;
    font-family: 'Red Hat MonoVariable', ui-monospace, monospace;
    word-break: break-all;
}

.object-id {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Red Hat MonoVariable', ui-monospace, monospace;
    color: colors.$sui-dark-blue;
    text-decoration: none;
}

.tx-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.deserializing {
    min-height: 450px;
}
