@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-direction: row;
    gap: 12px;
    height: 90%;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: colors.$gray-45;
    margin-top: 10px;

    img {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        object-fit: contain;
    }
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;

    .name {
        @include utils.typography('stats/text-lg');

        font-weight: 600;
        color: colors.$gray-100;
        word-break: break-all;
        text-transform: capitalize;
    }

    .app-link {
        @include utils.typography('table/text-sm');

        color: colors.$sui-dark-blue;
        word-break: break-all;
        text-decoration: none;
    }
}

.cta {
    display: flex;
    flex-flow: row;
    width: 100%;
    gap: 10px;

    .cta-btn {
        width: 155px;
        height: 44px;
        border-radius: 12px;
        font-weight: 600;
        font-size: 14px;
    }

    .view {
        background: colors.$cta-blue;
        color: colors.$white;
        text-align: center;

        &:hover {
            opacity: 0.5;
        }

        i {
            color: colors.$white;
            font-size: 10px;
            margin-right: 0;
            margin-left: 10px;
        }

        &:visited {
            color: colors.$white;
        }
    }

    .disconnect-app {
        background-color: colors.$error-light;
        color: colors.$error;
        flex-direction: row;
        display: flex;
        justify-content: center;
        gap: 10px;
        opacity: 0.8;

        &:hover {
            opacity: 0.5;
        }

        .disconnect {
            background-color: #ff794b;
            color: colors.$white;
            height: 16px;
            width: 16px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                font-size: 10px;
            }
        }
    }
}

.permissions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 320px;
    border: 1px solid colors.$gray-50;
    border-radius: 15px;
    margin-top: 20px;

    .label {
        background-color: colors.$gray-40;
        border-radius: 15px 15px 0 0;
        height: 31px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: colors.$gray-75;
        font-weight: 600;
        font-size: 11px;
        line-height: 100%;
    }

    .permissions-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-bottom: 20px;
        margin-top: 8px;
        width: 90%;

        .access {
            display: flex;
            flex-direction: row;
            gap: 9px;
            text-transform: capitalize;
            font-weight: 500;
            font-size: 13px;
            line-height: 100%;
            color: colors.$gray-80;
        }

        .access-icon {
            background-color: colors.$success;
            height: 12px;
            width: 12px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;

            i {
                color: colors.$white;
                font-size: 5px;
            }
        }
    }
}

.angled-arrow {
    @include utils.angled-arrow;

    transform: rotate(-45deg);
    display: inline-block;
    font-weight: 100;
    font-size: 8px;
    margin-left: 5px;
    color: colors.$sui-steel-blue;
}
