@use '_values/colors';
@use '_utils';

.sui-app-empty {
	display: flex;
	flex-direction: row;
	gap: 12px;
	padding: 15px 5px;
	height: 114px;

	.icon {
		width: 40px;
		height: 40px;
		background: colors.$gray-45;
		border-radius: 20px;
	}

	.info {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 1;
	}

	.box-one,
	.box-two,
	.box-three {
		background: colors.$gray-45;
		border-radius: 4px;
		height: 13px;
	}

	.box-one {
		width: 40%;
		max-width: 100px;

		&.card {
			width: 60%;
			max-width: 67px;
		}
	}

	.box-three {
		width: 20%;
		max-width: 63px;
	}

	&.card {
		border: 1px solid colors.$gray-50;
		border-radius: 15px;
		flex-direction: column;
		padding: 15px;
	}
}

.ecosystem-app {
	text-decoration: none;
	color: colors.$gray-80;

	.full {
		border-bottom: 1px solid colors.$gray-50;
	}

	.default-img {
		width: 40px;
		height: 40px;
		background: #6fbcf01a;
		border-radius: 20px;
	}

	.sui-app {
		display: flex;
		flex-direction: row;
		gap: 12px;
		padding: 15px 5px;
		cursor: pointer;

		&:hover {
			background: colors.$button-hover;
		}

		.title {
			@include utils.typography('table/text-lg');

			font-weight: 600;
			color: colors.$sui-dark-blue;
			word-break: break-all;
			text-transform: capitalize;
		}

		.info {
			display: flex;
			gap: 7px;
			flex-direction: column;
		}

		.icon {
			img {
				height: 50px;
				width: 50px;
				border-radius: 50%;
			}
		}

		.description {
			font-weight: 400;
			font-size: 13px;
			line-height: 130%;
		}

		.tags {
			display: flex;
			flex-wrap: wrap;
			margin-top: auto;
			grid-gap: 0.3rem;
			gap: 0.3rem;

			.tag {
				border: 1px solid colors.$sui-steel-blue;
				border-radius: 4px;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 6px;
				height: 18px;
				font-weight: 500;
				font-size: 11px;
				color: colors.$sui-steel-blue;
				letter-spacing: 0.05em;
				text-transform: uppercase;
			}
		}
	}

	.card {
		border: 1px solid colors.$gray-50;
		border-radius: 15px;
		flex-direction: column;
		padding: 15px;
		height: 100%;
		max-width: 153px;

		.icon {
			display: flex;
			justify-content: space-between;

			img {
				height: 40px;
				width: 40px;
			}
		}

		.link {
			word-break: break-all;
		}

		.external-link-icon {
			height: 10px;
			margin: 0;
		}

		.title {
			margin-bottom: 0;
			color: colors.$gray-90;
		}

		.info {
			gap: 5px;
		}
	}
}

.angled-arrow {
	@include utils.angled-arrow;

	transform: rotate(-45deg);
	display: inline-block;
	font-weight: 100;
	font-size: 10px;
	margin-left: 5px;
	color: colors.$sui-steel-blue;
}
