@use '_values/colors';
@use '_values/sizing';
@use '_utils';
@use 'sass:color';

.container {
    $color: color.change(colors.$sui-blue, $alpha: 0.1);

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 40px 30px;
    flex: 1;
    overflow: auto;

    &.box {
        background: $color;
        max-width: sizing.$popup-width;
        max-height: sizing.$popup-height;
        border: 1px solid $color;
        border-radius: 20px;
    }
}

.success-icon {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    border: 3px dotted colors.$success;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.success-bg {
    background-color: colors.$success;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sui-icon-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: colors.$sui-blue;
    margin-bottom: 30px;
}

.sui-icon {
    color: colors.$white;
    font-size: 34px;
}

.thumbs-up {
    color: colors.$white;
    font-size: 25px;
}

.caption {
    text-transform: uppercase;
    color: colors.$gray-75;
    margin: 0;
    margin-bottom: 5px;

    @include utils.typography('Primary/CAPTION-SB');
}

.header-title {
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
    color: colors.$gray-90;
    text-transform: capitalize;
    line-height: 1;

    @include utils.typography('Primary/Heading1-B');
}

.sub-title {
    margin: 0;
    margin-bottom: 15px;
    color: colors.$gray-75;
    text-transform: uppercase;

    @include utils.typography('Primary/CAPTION-B');
}

.back {
    position: absolute;
    left: 22px;
    top: 19px;
}
