node_modules
.env

# Ppen Zeppelin
.openzeppelin

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# secrets.json file
secrets.json
# macOS
.DS_Store

/out