# Set to production when deploying to production
NODE_ENV=development

# Node.js server configuration
SERVER_PORT=8000

# Alchemy API KEY. Please replace it with your own(https://dashboard.alchemyapi.io/)
ALCHEMY_API_KEY="demo"

# Sui Gateway endpoint
SUI_GATEWAY_ENDPOINT = "http://127.0.0.1:5000"
