.txheader {
    @apply pb-2 mb-0;
}

.txaddress {
    @apply block lg:flex justify-start align-middle items-center;

    box-sizing: border-box;
}

.txresulttype {
    @apply text-[14px] font-medium font-sans capitalize rounded-[6px] py-[4px] px-[8px] flex items-center justify-around mt-[8px] lg:ml-[6px];
}

.txresulttype > span,
.txresulttype > svg {
    @apply inline align-middle;
}

.success {
    @apply bg-success-light text-success-dark w-[91px] h-[22px];
}

.success svg {
    @apply fill-success-dark;
}

.failed {
    @apply bg-issue-light text-issue-dark stroke-issue-dark break-all;

    box-sizing: border-box;
}

.error {
    @apply m-0 text-sm p-1 pl-2 pr-2 mt-2;

    box-sizing: border-box;
}
