@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    overflow-x: visible;
    height: 100%;
}

.tx-content {
    margin-top: 20px;
    flex-grow: 1;
    overflow-y: auto;

    @include utils.override-main-padding;
}

.center-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
