@import url('bootstrap-icons');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

html,
body {
    min-width: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    color: black;
    scroll-behavior: smooth;
}

#root {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
}

.btn {
    padding: 15px;
    border-radius: 4px;
    background-color: #8bc3df;
    text-decoration: none;
    border: none;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    color: black;

    &.link {
        background-color: transparent;
    }

    &:visited,
    &:active {
        color: inherit;
    }

    &.disabled,
    &[disabled] {
        cursor: initial;
        color: #707070;
    }
}
