@use '_variables' as v;
@use '_values/sizing';
@use '_values/colors';

$main-space-var: v.use(v.$sizing-nav-height-placeholder);
$main-extra-space: sizing.$main-bottom-space;

@mixin main-extra-space-for-nav() {
    padding-bottom: calc($main-space-var + $main-extra-space);
}

@mixin escape-main-sides-space() {
    margin-left: sizing.$main-sides-space * -1;
    margin-right: sizing.$main-sides-space * -1;
}

@mixin override-main-sides-space() {
    padding-left: sizing.$main-sides-space;
    padding-right: sizing.$main-sides-space;

    @include escape-main-sides-space;
}

@mixin override-main-padding() {
    margin-bottom: calc(($main-space-var + $main-extra-space) * -1);

    @include override-main-sides-space;
    @include main-extra-space-for-nav;
}

@mixin error-message-box() {
    background-color: colors.$error-light;
    color: colors.$error;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 30px;
    word-break: break-all;
    padding-right: 20px;
    position: relative;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;

    &::before {
        content: '';
        background-image: url('_assets/images/Info.svg');
        margin-right: 5px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        height: 16px;
        width: 16px;
        margin-left: -20px;
    }
}

@mixin receipt-details-bg() {
    background-color: colors.$gray-40;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::after {
        content: '';
        background-image: url('_assets/images/nft-detail-bg.png');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: 100%;
        width: 100%;
        height: 15px;
        display: flex;
        top: 12px;
        position: relative;
    }
}

@mixin overflow-ellipsis($max-width: 100%) {
    max-width: $max-width;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

@mixin angled-arrow($color: colors.$gray-65) {
    transform: rotate(135deg);
    font-weight: 300;
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    color: $color;
}

@mixin typography($type) {
    @if $type == 'stat/col-header' {
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        color: colors.$gray-75;
    } @else if $type == 'page-description' {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: colors.$gray-80;
    } @else if $type == 'tooltip/label' {
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 10px;
        text-transform: uppercase;
        color: colors.$gray-80;
    } @else if $type == 'stats/text-lg' {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: colors.$gray-100;
    } @else if $type == 'header/search-text' {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        color: colors.$gray-70;
    } @else if $type == 'table/text-xs' {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: colors.$gray-75;
    } @else if $type == 'table/text-sm' {
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 12px;
        color: colors.$white;
    } @else if $type == 'table/text-lg' {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 13px;
    } @else if $type == 'table/title-sm' {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: colors.$gray-100;
    } @else if $type == 'page-title' {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 18px;
        color: colors.$gray-100;
    } @else if $type == 'empty' {
        font-style: italic;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: colors.$gray-70;
        padding: 0 16px;
        line-height: 16px;
        letter-spacing: 0;
    } @else if $type == 'Primary/BodySmall-M' {
        font-size: 13px;
        font-weight: 500;
        line-height: 13px;
        letter-spacing: 0;
    } @else if $type == 'Primary/SubtitleSmall-M' {
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        letter-spacing: 0;
    } @else if $type == 'Primary/BodySmall-SB' {
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
    } @else if $type == 'Primary/CAPTIONSMALL-M' {
        font-size: 11px;
        font-weight: 500;
        line-height: 11px;
        letter-spacing: 0.05em;
    } @else if $type == 'ParagraphPrimary/P2-R' {
        font-size: 13px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0;
    }
}
