@use '_values/colors';

.icon {
    color: colors.$sui-steel-blue;
    font-size: 15px;
    min-width: 15px;
}

.icon-placeholder {
    width: 15px;
}

.title {
    margin-left: 12px;
    font-weight: 600;
    font-size: 14px;
    flex-grow: 1;
    color: colors.$gray-100;
}

.subtitle {
    font-weight: 500;
    font-size: 13px;
    color: colors.$gray-80;
    margin-left: 10px;
}

.indicator {
    margin-left: 10px;
    color: colors.$gray-60;
    font-size: 7px;
}
