@use '_values/colors';
@use '_values';
@use '_utils';
@use 'sass:color';

.header-title {
    margin: 0;
    margin-bottom: 30px;
    color: colors.$gray-90;

    @include utils.typography('Primary/Heading1-B');
}

.selector {
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 40px 30px;
    background: rgba(colors.$sui-blue, $alpha: 0.1);
    max-width: values.$sizing-popup-width;
    border: 1px solid rgba(colors.$sui-blue, $alpha: 0.1);
}

.title {
    margin: 0 0 12px;
    color: colors.$gray-90;

    @include utils.typography('Primary/Heading3-SB');
}

.desc {
    color: colors.$gray-85;
    margin-bottom: 30px;

    @include utils.typography('ParagraphPrimary/P1-M');
}

:global(.btn).action {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    background: colors.$hero;
    color: colors.$white;
    border-radius: 12px;
    padding: 15px 20px;
    align-self: stretch;
    gap: 10px;

    @include utils.typography('Primary/Body-SB');

    &:visited,
    &:active {
        color: colors.$white;
    }

    &:hover {
        background: colors.$hero-dark;
    }
}
