@use '_utils';
@use '_variables' as v;

.container {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	overflow-y: auto;
	overflow-x: visible;

	@include utils.override-main-sides-space;
}

.content {
	flex-grow: 1;
}

.menu {
	display: flex;
	flex-flow: row nowrap;
	position: sticky;
	bottom: -1px;
	background-color: v.use(v.$colors-main-content-background);
	padding: 15px 25px 25px;
	margin-top: 12px;
	align-items: center;
	justify-content: stretch;
	gap: 10px;
	transition: all 200ms ease-in-out;

	@include utils.escape-main-sides-space;
}
