@use '_utils';
@use '_values/colors';

.warning-wrapper {
    border-bottom: 1px solid colors.$gray-45;
    margin-bottom: 8px;
}

.warning-title {
    @include utils.typography('Primary/Body-SB');

    display: inline-block;
    margin-bottom: -1px;
    padding-bottom: 8px;
    border-bottom: 1px solid colors.$gray-90;
}

.warning-message {
    @include utils.typography('Primary/BodySmall-M');

    color: colors.$gray-80;
}