@use '_values/colors';
@use '_utils';

.ecosystem-app {
    text-decoration: none;
    color: colors.$gray-80;
    margin-top: 10px;

    .sui-app {
        display: flex;
        flex-direction: row;
        gap: 12px;
        padding: 15px 5px;

        &:hover {
            background: colors.$button-hover;
        }

        .title {
            @include utils.typography('table/text-lg');

            font-weight: 600;
            color: colors.$sui-dark-blue;
            margin-bottom: 5px;
        }

        .info {
            display: flex;
            gap: 4px;
            flex-direction: column;
        }

        .icon {
            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }

        .description {
            font-weight: 400;
            font-size: 13px;
            line-height: 130%;
        }

        .tags {
            display: flex;
            flex-wrap: wrap;
            margin-top: auto;
            grid-gap: 0.3rem;
            gap: 0.3rem;

            .tag {
                border: 1px solid colors.$sui-steel-blue;
                border-radius: 4px;
                padding: 4px 6px;
                height: 22px;
                font-weight: 500;
                font-size: 11px;
                line-height: 100%;
                color: colors.$sui-steel-blue;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
        }
    }
}

.angled-arrow {
    transform: rotate(-45deg);
    display: inline-block;
    font-weight: 100;
    font-size: 10px;
    margin-left: 5px;
    padding: 1px;
    color: colors.$sui-steel-blue;
}
