@use '_variables' as v;
@use '_values' as values;
@use '_values/colors';

.container {
    display: flex;
    flex-flow: row nowrap;
    background-color: v.use(v.$colors-nav-background-color);
    backdrop-filter: v.use(v.$colors-nav-background-filter);
    height: values.$sizing-nav-height;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: stretch;
    padding: 5px 10px;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: transform 300ms ease-in-out;
    opacity: 1;
}

.link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 6px 6px 14px;
    text-decoration: none;
    color: v.use(v.$colors-nav-item-color);
    user-select: none;
    flex-grow: 1;
    flex-basis: 80px;

    &:hover {
        color: colors.$nav-item-hover;

        i {
            color: colors.$nav-item-hover;
        }
    }

    &.active {
        color: v.use(v.$colors-nav-item-highlighted-color);

        &:hover {
            color: #007195;

            i {
                color: #007195;
            }
        }
    }
}

.icon {
    font-size: 32px;
    margin-bottom: 2px;
    color: colors.$gray-60;

    .active > & {
        color: v.use(v.$colors-nav-item-icon-highlighted-color);
        background-clip: text;
        background-image: v.use(
            v.$colors-nav-item-icon-highlighted-gradient-color
        );
    }
}

.title {
    font-size: 13px;
    line-height: 12px;
    font-weight: 600;

    .active > & {
        font-weight: 600;
    }
}

.hidden {
    transform: translateY(100%);
    opacity: 0;
    transition: transform 300ms ease-in-out, opacity 0ms ease-in 300ms;
}

.wallet-activity-icon {
    font-size: 26px;
    font-weight: 500;
}
