.copy {
    @apply cursor-pointer mr-2;

    /* fix some wiered vertical spacing svg with copy 16px is the high of svg */
    font-size: 16px !important;
    vertical-align: middle;
    line-height: 100%;
}

.copied {
    @apply text-green-600 ml-1 text-sm;
}

.longtext,
.longtext > a {
    @apply no-underline text-sui-dark hover:text-[#1F6493] cursor-pointer break-all inline mr-2;
}

.linktext {
    @apply mr-2;
}

.longtextwrapper {
    @apply inline md:block;
}
