.searchresult {
    @apply w-11/12 md:w-10/12  mx-auto mb-28 mt-10 m-auto;

    max-width: 1200px;
    margin-bottom: 2rem;
}

.searchresult h3 {
    @apply font-normal leading-3 font-mono text-center break-words;

    line-height: 150%;
}

.searchitem {
    @apply font-mono md:flex grid items-center bg-center shadow-sm pt-5 pb-5 h-auto border-solid border border-gray-45 pl-5 pr-5 bg-white mt-5 mb-5 text-left md:justify-around;
}

strong {
    @apply font-bold;
}

.textcenter {
    @apply text-center;
}
