.container {
    display: flex;
    padding: 24px 16px;
    align-self: stretch;
    flex: 1;
    border-radius: 2px;
    background-color: #f0f0f0;
    box-shadow: 0 0 3px 0 #00000050;
    position: relative;

    & + .container {
        margin-top: 12px;
    }
}

.type {
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #8bc3df;
}

.id {
    font-size: 9px;
    font-weight: 700;
    letter-spacing: -0.5px;
    position: absolute;
    top: 2px;
    left: 2px;
}

.content {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 100%;
    max-height: 20vh;
    overflow: hidden;
}

.splitter {
    align-self: stretch;
    background-color: #d5d5d5;
    width: 1px;
    margin: 5px 16px;
}

.img-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 30%;
    max-height: 100%;
}

.img {
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
}

.fields {
    max-width: 70%;
    display: flex;
    flex-flow: column nowrap;
    overflow-y: auto;
    max-height: 100%;
}

.explorer-link {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    padding: 5px;
    color: #43b0e6;
    text-decoration: none;
}

:global(.btn).send {
    font-size: 11px;
    font-weight: 300;
    padding: 4px;
    margin-left: 5px;
}
