@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    max-width: 100%;
    padding: 15px;
    background: colors.$gray-40;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    &:hover {
        background-color: colors.$gray-50;
    }
}

.icon-row {
    padding-right: 5px;
    font-size: 25px;
    margin-bottom: 8px;
}

.validator {
    margin-bottom: 4px;

    @include utils.typography('table/title-sm');
    @include utils.overflow-ellipsis;
}

.apy {
    margin-bottom: 12px;

    @include utils.typography('table/text-xs');
}

.balance {
    color: colors.$success-dark;
    padding-right: 16px;
    max-width: 100%;

    & > & {
        @include utils.typography('table/text-lg');
    }
}

.rewards {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 8px;
    color: colors.$success;
}

.arrow {
    position: absolute;
    color: colors.$gray-65;
    font-size: 10px;
    right: 17px;
    bottom: 18px;
    display: none;

    :hover > & {
        display: block;
    }
}
