.container {
    display: flex;
    flex-flow: column nowrap;
    align-self: stretch;
    margin-top: 16px;
}

.title {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: -1px;
    color: #000000b3;
    margin-right: 8px;
}

.items {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 24px;
}

.loader {
    align-self: center;
}

.alert {
    margin-bottom: 12px;
}

.empty {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 50px;
}

.empty-icon {
    font-size: 32px;
}

.empty-text {
    font-size: 15px;
}
