@tailwind components;

@layer components {
    .basecontainer {
        @apply h-[2.3rem] px-2 py-2 mx-[1vw] sm:mx-[4px] inline-block
        rounded border-[1px] border-solid border-sui-grey-50
        font-sans items-center 
        text-sui-grey-75 stroke-sui-grey-75 bg-inherit;

        box-shadow: 0 1px 2px rgba(16 24 40 / 5%);
    }

    .btncontainer {
        @apply basecontainer hover:bg-sui-light hover:text-sui-grey-100 hover:stroke-sui-grey-100 cursor-pointer;

        transition: all 0.4s ease;
    }
}

button.pagenumber,
button.nointeract,
.rhs > select {
    @apply basecontainer;
}

button.secondbtn {
    @apply btncontainer hidden sm:inline-block cursor-pointer;
}

button.nointeractsecond {
    @apply basecontainer sm:hidden inline-block;
}

button.nextbtnnumber {
    @apply btncontainer hidden sm:inline-block;
}

button.pagenumber {
    @apply select-none border-solid border-sui-dark text-sui-dark;

    background: linear-gradient(0deg, #f4fbff, #f4fbff), #fff;
}

button.gone {
    @apply opacity-30;
}

.footer {
    @apply mt-2 sm:grid sm:grid-cols-12 text-center sm:text-left;
}

.footer > div:first-child {
    @apply inline-block sm:block sm:col-span-8 sm:self-center;
}

.footer > div:nth-child(2) {
    @apply sm:col-span-4 sm:justify-self-end sm:items-center;
}

.rhs {
    @apply flex;
}

.rhs > section {
    @apply mx-auto;
}

.rhs > select {
    @apply ml-[1vw] cursor-pointer rounded-[6px] hidden sm:block;
}
