@use '_utils';
@use '_variables' as v;
@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-self: stretch;
    height: calc(100% - 85px);
    margin-top: 20px;
}

.amount,
.address {
    input {
        width: 100%;
        border: 1px solid colors.$gray-50;
        height: 44px;
        border-radius: 10px;
        padding: 14px 10px;

        &::placeholder {
            color: colors.$gray-70;
        }
    }
}

.form-content {
    margin-top: 20px;
}

.group {
    display: flex;
    flex-flow: column nowrap;

    & + & {
        margin-top: 8px;
    }
}

.label {
    margin-bottom: 4px;
    font-weight: 600;
    color: colors.$gray-80;
}

.error {
    @include utils.error-message-box;
}

.muted {
    font-size: 10px;
    font-weight: 400;
    color: #666;
    margin-top: 1px;
}

.input {
    padding: 12px;
}

.cta {
    width: 100%;
}

.btn {
    background-color: colors.$cta-blue;
    color: colors.$white;
    width: 100%;
    font-weight: 600;

    .arrow-left {
        transform: rotate(180deg);
        margin-right: 0;
        color: colors.$cta-light-blue;
    }

    &:hover {
        background-color: colors.$sui-steel-blue;
    }
}

.active-coin-card {
    margin-top: 20px;
}

.response-card {
    @include utils.receipt-details-bg;

    &::after {
        left: 0;
        top: 20px;
    }

    margin-top: 15px;

    .tx-info {
        border-top: 1px solid colors.$gray-50;
        border-bottom: 1px solid colors.$gray-50;
        padding: 10px 0;
        display: flex;
        flex-flow: column;
        gap: 10px;
        margin: 10px;
        word-break: break-all;
        margin-bottom: 0;

        @include utils.typography('table/text-sm');

        .tx-info-label {
            color: colors.$gray-75;
            display: flex;
            gap: 10px;
        }

        .tx-info-value {
            color: colors.$gray-100;
            font-size: 13px;
            line-height: 18px;
            display: flex;
            gap: 10px;
            overflow-wrap: break-word;
            font-family: 'Red Hat MonoVariable', ui-monospace, monospace;
        }
    }

    .amount {
        font-weight: 600;
        font-size: 24px;
        line-height: 19px;
        color: colors.$gray-100;
        padding: 20px;

        span {
            color: colors.$gray-75;
            font-size: 16px;
        }
    }

    .details {
        border-top: 1px solid colors.$gray-50;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 0 20px;
    }

    .tx-date,
    .tx-fees {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        @include utils.typography('table/text-lg');

        .tx-info-label {
            color: colors.$gray-80;
        }

        .tx-info-value {
            color: colors.$gray-85;
        }

        .wallet-info-value {
            color: colors.$gray-100;
        }
    }
}

.label-direction {
    text-align: center;
    width: 90%;
    color: colors.$gray-80;
    margin: auto;
    margin-bottom: 20px;
}
