@use '_values/colors';
@use '_utils';

.network-options {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	background-color: #fff;
}

.network-lists {
	list-style: none;
	padding: 0;
	overflow-y: auto;
	margin-bottom: 0;
	margin-top: 0;
	width: 100%;
}

.network-item {
	list-style: none;
	padding: 0 10px;
	height: 56px;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px solid colors.$gray-45;

	@include utils.typography('table/title-sm');

	line-height: 100%;

	.network-selector {
		background: transparent;
		border: none;
		padding: 15px 0;
		margin: 0;
		text-decoration: none;
		display: flex;
		width: 100%;
		cursor: pointer;

		@include utils.typography('table/title-sm');

		line-height: 100%;
	}

	.network-icon {
		font-size: 16px;
		color: colors.$gray-45;
		line-height: 100%;
		transition: color 0.2s ease-in-out;
	}

	&:last-child {
		border-bottom: none;
	}

	.network-active {
		color: colors.$success;

		&.custom-rpc-active {
			color: colors.$success;
		}
	}

	.custom-rpc-active {
		color: colors.$gray-60;
	}
}

.selected-network {
	margin-right: 15px;
	font-weight: bold;
	font-size: 20px;
}

.custom-rpc {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;
	width: 100%;

	form {
		width: 278px;
	}
}
