@use '_utils';

.container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-self: stretch;
}

.group {
    display: flex;
    flex-flow: column nowrap;

    & + & {
        margin-top: 8px;
    }
}

.label {
    margin-bottom: 4px;
    font-weight: 600;
}

.error {
    @include utils.error-message-box;
}

.muted {
    font-size: 10px;
    font-weight: 400;
    color: #666;
    margin-top: 1px;
}

.input {
    padding: 12px;
}
