@font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett Mono';
    src: url('../../static/fonts/TWKEverettMono-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Ultralight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Twkeverett';
    src: url('../../static/fonts/TWKEverett-Extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }
  