@use '_values/colors';
@use '_utils';

.main {
	display: flex;
}

.form {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	align-self: stretch;
	flex: 1;
	margin-top: 30px;
}

.fill {
	flex: 1;
}

.btn-icon {
	color: colors.$sui-blue-light;
	font-size: 16px;
}

.forgot-link {
	margin-top: 15px;
	align-self: center;
	text-decoration: none;
	color: colors.$sui-dark-blue;

	@include utils.typography('Primary/BodySmall-M');
}
