@use '_variables' as v;
@use '_values' as values;
@use '_values/colors';

.container {
	display: flex;
	flex-flow: row nowrap;
	background-color: v.use(v.$colors-nav-background-color);
	backdrop-filter: v.use(v.$colors-nav-background-filter);
	min-height: values.$sizing-nav-height;
	height: auto;
	position: absolute;
	bottom: 0;
	width: 100%;
	align-items: center;
	justify-content: stretch;
	overflow: hidden;
	border: 1px solid rgb(111 188 240 / 1%);
	transition: transform 300ms ease-in-out;
	opacity: 1;
	flex-direction: column;
	z-index: 40;
}

.nav-menu {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: stretch;
	width: 100%;
}

.filter-tags {
	display: flex;
	gap: 8px;

	.filter {
		height: 25px;
		background: colors.$white;
		color: colors.$sui-steel-blue;
		padding: 6px 10px;
		border: 1px solid colors.$gray-60;
		border-radius: 16px;
		text-decoration: none;
		display: flex;
		align-items: center;

		&.active {
			background: v.use(v.$colors-nav-item-highlighted-color);
			color: colors.$white;
		}
	}
}

.link {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	padding: 6px;
	text-decoration: none;
	color: v.use(v.$colors-nav-item-color);
	user-select: none;
	flex-grow: 1;
	flex-basis: 80px;
	height: 70px;
	justify-content: space-between;
	padding-bottom: 12px;
	border-bottom: 2px solid;
	border-bottom-color: transparent;

	&:hover {
		color: v.use(v.$colors-nav-item-highlighted-color);
	}

	&.active {
		color: v.use(v.$colors-nav-item-active-color);
		border-bottom-color: v.use(v.$colors-nav-item-active-color);

		&:hover {
			color: v.use(v.$colors-nav-item-active-highlighted-color);
			border-bottom-color: v.use(v.$colors-nav-item-active-highlighted-color);
		}
	}
}

.icon {
	font-size: 32px;
	margin-bottom: 2px;
}

.title {
	font-size: 13px;
	line-height: 12px;
	font-weight: 600;

	.active > & {
		font-weight: 600;
	}
}

.hidden {
	transform: translateY(100%);
	opacity: 0;
	transition:
		transform 300ms ease-in-out,
		opacity 0ms ease-in 300ms;
}

/* TODO update icons so they are all the same size */
.wallet-activity-icon {
	font-size: 23px;
	font-weight: 500;
	margin-top: 4px;
}

.apps-icon {
	font-size: 23px;
	font-weight: 500;
	margin-top: 4px;
}
