@tailwind components;

@layer components {
    .basecontainer {
        @apply h-[2.3rem] inline-block
        rounded border-[1px] border-solid border-gray-50
        font-sans items-center
        text-gray-75 stroke-gray-75 bg-inherit;

        box-shadow: 0 1px 2px rgba(16 24 40 / 5%);
    }

    .desktopfooter .basecontainer {
        @apply px-2 py-2 mx-[4px];
    }

    .under6footer .basecontainer {
        @apply px-2 py-2 mx-[1vw] sm:mx-[4px];
    }

    .btncontainer {
        @apply basecontainer hover:bg-sui-light hover:text-gray-100 hover:stroke-gray-100 cursor-pointer inline-block;

        transition: all 0.4s ease;
    }
}

button.pagenumber,
button.nointeract,
.rhs > select {
    @apply basecontainer;
}

button.pagenumber {
    @apply select-none border-solid border-sui-dark text-sui-dark;

    background: linear-gradient(0deg, #f4fbff, #f4fbff), #fff;
}

button.gone {
    @apply opacity-30;
}

/* RHS stats styling */
.rhs > div {
    @apply capitalize text-gray-75 text-sm mx-auto sm:mr-[12px] mt-2 sm:mt-0;
}

.rhs {
    @apply flex;
}

.rhs > section {
    @apply mx-auto;
}

.rhs > select {
    @apply ml-[1vw] cursor-pointer rounded-[6px] hidden sm:block border-0 border-r-[12px] border-transparent overflow-visible;

    outline: 1px solid #e9eaeb !important;
}

/* Less than 6 case */
.under6footer {
    @apply mt-2 sm:grid sm:grid-cols-12 text-center text-left;
}

.under6footer > div:first-child {
    @apply block sm:col-span-8 self-center sm:justify-self-start;
}

.under6footer > div:nth-child(2) {
    @apply sm:col-span-4 justify-self-end items-center;
}

/* Desktop */

.desktopfooter {
    @apply hidden sm:block sm:mt-2 sm:grid sm:grid-cols-12 text-center sm:text-left;
}

.desktopfooter > div:first-child {
    @apply inline-block sm:block sm:col-span-8 sm:self-center;
}

.desktopfooter > div:nth-child(2) {
    @apply sm:col-span-4 sm:justify-self-end sm:items-center;
}

/* Mobile */

.mobilefooter {
    @apply sm:hidden block w-[85vw];
}

.mobiletoprow {
    @apply sm:hidden block grid grid-cols-6 my-2;
}

.mobiletoprow > button:nth-child(1),
.mobiletoprow > button:nth-child(3) {
    @apply col-span-1;
}

.mobiletoprow > button:nth-child(2) {
    @apply col-span-4 border-none shadow-none;
}

.mobilebottomrow {
    @apply grid grid-cols-2 gap-2;
}
