@use '_values/colors';
@use '_utils';

.container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 8px 10px;
    gap: 6px;
    border-radius: 10px;
    background-color: colors.$issue-light;
    color: colors.$issue-dark;
}

.icon {
    font-size: 16px;
}

.message {
    overflow-wrap: anywhere;

    @include utils.typography('ParagraphPrimary/P2-M');
}
