@use '_values/colors';
@use '_utils';
@use '_values/sizing' as s;

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    gap: 6px;
    border-radius: 10px;

    :global(.app-initializing) & {
        width: s.$popup-width;
    }

    @include utils.typography('ParagraphPrimary/P2-M');

    &.warning {
        background-color: colors.$issue-light;
        color: colors.$issue-dark;
    }

    &.success {
        background-color: colors.$success-light;
        color: colors.$success-dark;
    }

    &.loading {
        background-color: colors.$sui-steel-blue;
        color: colors.$white;

        > .loader {
            border-color: colors.$white;
        }
    }
}

.icon {
    font-size: 16px;
}

.message {
    overflow-wrap: anywhere;
    flex: 1;

    @include utils.typography('ParagraphPrimary/P2-M');
}
