.field {
    margin: 0 6px 6px 0;
}

.name {
    font-size: 10px;
    font-weight: 500;
    color: #666;
    margin-bottom: 2px;
    margin-right: 3px;
}

.value {
    overflow-wrap: anywhere;
    font-weight: 600;
}
