@font-face {font-family: sui-icons;
    src: url('./sui-icons.eot');
    src: url('./sui-icons.eot#iefix') format('embedded-opentype'),
    url("./sui-icons.woff2") format("woff2"),
    url("./sui-icons.woff") format("woff"),
    url('./sui-icons.ttf') format('truetype'),
url('./sui-icons.svg#sui-icons') format('svg');
}

[class^="sui-icons-"], [class*=" sui-icons-"] {
    font-family: sui-icons !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.sui-icons-apps:before { content: "\ea01"; }
.sui-icons-history:before { content: "\ea02"; }
.sui-icons-nfts:before { content: "\ea03"; }
.sui-icons-sui-logo-icon:before { content: "\ea04"; }
.sui-icons-sui-logo-txt:before { content: "\ea05"; }
.sui-icons-tokens:before { content: "\ea06"; }

$sui-icons-apps: "\ea01";
$sui-icons-history: "\ea02";
$sui-icons-nfts: "\ea03";
$sui-icons-sui-logo-icon: "\ea04";
$sui-icons-sui-logo-txt: "\ea05";
$sui-icons-tokens: "\ea06";

