@font-face {font-family: sui-icons;
    src: url('./sui-icons.eot');
    src: url('./sui-icons.eot#iefix') format('embedded-opentype'),
    url("./sui-icons.woff2") format("woff2"),
    url("./sui-icons.woff") format("woff"),
    url('./sui-icons.ttf') format('truetype'),
url('./sui-icons.svg#sui-icons') format('svg');
}

[class^="sui-icons-"], [class*=" sui-icons-"] {
    font-family: sui-icons !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

.sui-icons-apps:before { content: "\ea01"; }
.sui-icons-arrow-left:before { content: "\ea02"; }
.sui-icons-clipboard:before { content: "\ea03"; }
.sui-icons-globe:before { content: "\ea04"; }
.sui-icons-history:before { content: "\ea05"; }
.sui-icons-logout:before { content: "\ea06"; }
.sui-icons-nfts:before { content: "\ea07"; }
.sui-icons-person:before { content: "\ea08"; }
.sui-icons-sui-chevron-right:before { content: "\ea09"; }
.sui-icons-sui-logo-icon:before { content: "\ea0a"; }
.sui-icons-sui-logo-txt:before { content: "\ea0b"; }
.sui-icons-tokens:before { content: "\ea0c"; }

$sui-icons-apps: "\ea01";
$sui-icons-arrow-left: "\ea02";
$sui-icons-clipboard: "\ea03";
$sui-icons-globe: "\ea04";
$sui-icons-history: "\ea05";
$sui-icons-logout: "\ea06";
$sui-icons-nfts: "\ea07";
$sui-icons-person: "\ea08";
$sui-icons-sui-chevron-right: "\ea09";
$sui-icons-sui-logo-icon: "\ea0a";
$sui-icons-sui-logo-txt: "\ea0b";
$sui-icons-tokens: "\ea0c";

