/* CSS for Coins */

.groupview {
    @apply w-full text-left;
}

.firstrow {
    @apply grid uppercase font-semibold text-sui-grey-80 text-[12px] leading-[12px] py-[10px];

    grid-template-columns: 35% 30% 35%;
}

.body {
    @apply text-[13px] leading-[12px];
}

.summary {
    @apply grid py-[10px] cursor-pointer;

    grid-template-columns: 5% 30% 30% 30% 5%;
}

.openedgroup .summary {
    @apply text-sui-grey-100;
}

.openedgroup .summary div {
    @apply pb-[12px];
}

.openedgroup .summary div:not(:first-child):not(:last-child) {
    @apply border-solid border-0 border-b border-sui-grey-45;
}

.closedgroup {
    @apply text-sui-grey-80 hover:bg-[#6fbcf014];
}

.openedgroup {
    @apply bg-sui-grey-40 rounded-md;
}

.objectid,
.balance {
    @apply text-sui-grey-80 grid;

    grid-template-columns: 5% 30% 30% 5%;
}

.objectid {
    @apply pb-[10px] pt-0;
}

.balance {
    @apply pb-[16px];
}

.closedgroup .summary:hover {
    @apply rounded-md bg-[#6fbcf014];
}

.icon {
    @apply pr-[6px] pl-[12px];
}

/* Other CSS */

.layout {
    @apply flex flex-wrap mt-0;
}

.layout > div {
    @apply w-full sm:w-[600px];
}

.previewimage > div,
.previewimage > div > img {
    @apply h-[60px] w-[60px] mr-[20px];
}

.layout > div:first-child {
    @apply sm:pr-[4vw] sm:mr-[4vw] sm:border-0 sm:border-r sm:border-solid sm:border-sui-grey-45;
}

.ownedcoins,
.ownedobjects {
    @apply w-[100%] lg:min-h-[240px] lg:flex lg:flex-wrap lg:justify-between;
}

.objectbox {
    @apply my-[5vh] sm:my-[1vh] break-all lg:w-[50%] max-h-[72px] flex items-center;
}

.coinheading + .ownedobjects > .objectbox,
.ownedcoins > div.objectbox {
    @apply p-1 lg:w-[47%] rounded-md;
}

.coinheading + .ownedobjects > .objectbox {
    @apply bg-sui-grey-40;
}

.coinfield {
    @apply grid grid-cols-12;
}

.coinfield > div:first-child {
    @apply col-span-4 text-sui-grey-80 font-medium;

    word-break: keep-all;
}

.coinfield > div:nth-child(2) {
    @apply col-span-8;
}

.fillerbox {
    @apply invisible;
}

.ownedobjectheader {
    @apply pb-1 border-0 border-b border-solid border-sui-grey-45;
}

.ownedobjectheader > h2 {
    @apply text-lg text-sui-grey-100;
}

.typevalue {
    @apply text-sui-grey-80;
}

.gray {
    @apply text-slate-500;
}

.fail {
    @apply text-red-600 font-sans font-semibold mt-2;
}
