@use '_values/colors';

.container {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100%;
}

.item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: stretch;
    color: inherit;
    text-decoration: none;
    padding: 12px 0;

    & + & {
        border-top: 1px solid colors.$gray-45;
    }
}

.actions-container {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 23px;
    gap: 15px;
    flex: 1;
}

.faucet-info {
    position: sticky;
    margin-top: 5px;
    bottom: 0;
}
