$background: '--colors-background';
$background-color: '--colors-background-color';
$text-on-background: '--colors-text-on-background';
$main-content-background: '--colors-main-content-background';
$text-on-main-content-background: '--colors-text-on-main-content-background';
$nav-background-color: '--colors-nav-background-color';
$nav-background-filter: '--colors-nav-background-filter';
$nav-item-color: '--colors-nav-item-color';
$nav-item-highlighted-color: '--colors-nav-item-highlighted-color';
$nav-item-active-color: '--colors-nav-item-active-color';
$nav-item-active-highlighted-color: '--colors-nav-item-active-highlighted-color';
$menu-btn-color: '--colors-menu-btn-color';
