@use '_utils';
@use '_values/colors';

.nftimage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
        height: 100%;
    }

    .small {
        height: 98px;
        width: 98px;
    }

    .medium {
        height: 150px;
        width: 150px;
    }

    .large {
        height: 180px;
        width: 180px;
    }

    .nftfields {
        line-height: 12px;
        text-decoration: none;
        font-weight: 500;
        font-size: 13px;
        padding-top: 5px;
        color: colors.$gray-100;
        width: 100%;
    }

    .expandable {
        @include utils.typography('table/title-sm');

        margin-top: 10px;
        color: colors.$gray-80;
    }
}
