.container {
    display: flex;
    padding: 24px 16px;
    align-self: stretch;
    flex: 1;
    border-radius: 2px;
    background-color: #f0f0f0;
    box-shadow: 0 0 3px 0 #00000050;
    position: relative;

    & + .container {
        margin-top: 12px;
    }
}

.type {
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: -0.6px;
    color: #8bc3df;
}

.value {
    font-size: 16px;
    font-weight: 600;
}

.symbol {
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: -0.4px;
    margin-left: 4px;
}
